<!DOCTYPE html>
<html>
	<head>
	<title>Notifications</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="../assets/vendor/toastr/toastr.min.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon.png">
	<style type="text/css">
		
		
		.table{
				color: rgb(2, 143, 208);
			
				text-align: center;
				
			}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tr>th, .table>thead>tr>td, .table>tr>th{
				border-top: 1px solid rgb(2, 143, 208);
				
			}
		
		th{
			text-align: center;
		}
		.ta{
			padding: 0px 20px;
		}
		.table-striped>tbody>tr:nth-of-type(odd){
				background-color: transparent;
			}
		
	</style>
	</head>
	<body>
	
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title ptitle">客户类型</h3>
							<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
							
						</div>
						<div class="ta">
						 <input class="col-md-2 col-md-offset-7 " type="text" placeholder="请输入搜索条件" /><input class="col-md-1 btn btn-primary btn-lg" type="button" value="GO" style="height: 27px;line-height: 5px;margin-bottom: 5px;" />
						<button type="button" value="新增" class="btn btn-primary btn-lg col-md-1" data-toggle="modal" data-target="#myModal" style="height: 30px;line-height: 5px; margin-bottom: 5px;margin-left: 50px;" >
	  						新增
						</button>
						<table class="table table-striped">
							<tr>
								<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
								<th>使用姓名</th>
								<th>实际姓名</th>
								<th>折扣</th>
								<th>门店编号</th>
								<th>状态</th>
								<th>创建时间</th>
								<th>最后修改时间</th>
								<th>操作人编号</th>
								<th>操作</th>
							</tr>
							<tr>
								<td>张三</td>
								<td>李四</td>
								<td>0.8</td>
								<td>003号</td>
								<td>正常</td>
								<td>2019-03-12</td>
								<td>2019-03-16</td>
								<td>Z004</td>
								<td>
									<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1" style="height: 30px;line-height: 5px;">
			  						修改
									</button>
								</td>
							</tr>
							<tr>
								<td>张三</td>
								<td>李四</td>
								<td>0.8</td>
								<td>003号</td>
								<td>正常</td>
								<td>2019-03-12</td>
								<td>2019-03-16</td>
								<td>Z004</td>
								<td>
									<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1" style="height: 30px;line-height: 5px;">
			  						修改
									</button>
								</td>
							</tr>
						</table>
							<div class="col-md-3 col-md-offset-5 "">
								<a href="#">上一页</a> 
								<a href="#">下一页</a> 1 / 3 共 3 页
							</div>
						</div>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">		
								<div class="modal-dialog" role="document">
		    						<div class="modal-content">
		      							<div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        <h4 class="modal-title" id="myModalLabel">新增客户类型</h4>
		      							</div>
								      <div class="modal-body">
								        	
										<form class="form-horizontal">
										  	<div class="form-group">
										    	<label for="InSname" class="col-sm-3 control-label">使用姓名</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="InSname">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="InName" class="col-sm-3 control-label">实际姓名</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="InName">
											    </div>
										  	</div>
										  	
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">折扣</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="inputPassword3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputEmail3" class="col-sm-3 control-label">门店编号</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="inputEmail3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">状态</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="inputPassword3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputEmail3" class="col-sm-3 control-label">创建时间</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="inputEmail3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">最后修改时间</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="inputPassword3">
											    </div>
										  	</div><div class="form-group">
										    	<label for="inputEmail3" class="col-sm-3 control-label">操作人编号</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="inputEmail3">
											    </div>
										  	</div>
										  	
										  
										</form>
										
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								        <button type="button" class="btn btn-primary" id="tijiao">提交</button>
								      </div>
								      
		    						</div>
		  						</div>
		  				</div>
		  					
		  				<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">		
								<div class="modal-dialog" role="document">
		    						<div class="modal-content">
		      							<div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        <h4 class="modal-title" id="myModalLabel">修改客户类型</h4>
		      							</div>
								      	<div class="modal-body">
								      		<form class="form-horizontal">
										  	<div class="form-group">
										    	<label for="inputEmail3" class="col-sm-3 control-label">使用姓名</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="inputEmail3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">实际姓名</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="inputPassword3"">
											    </div>
										  	</div>
										  	
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">折扣</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="inputPassword3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputEmail3" class="col-sm-3 control-label">门店编号</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="inputEmail3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">状态</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="inputPassword3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputEmail3" class="col-sm-3 control-label">创建时间</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="inputEmail3">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">最后修改时间</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control" id="inputPassword3">
											    </div>
										  	</div><div class="form-group">
										    	<label for="inputEmail3" class="col-sm-3 control-label">操作人编号</label>
											    <div class="col-sm-9">
											    	<input type="text" class="form-control" id="inputEmail3">
											    </div>
										  	</div>
										  	
										  
										</form>
								        
								      	</div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								        <button type="button" class="btn btn-primary">提交</button>
								      </div>
		    						</div>
		  						</div>
		  				</div>
						
							
					</div>
				</div>
			</div>
		</div>
		
		
	<script src="../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/vendor/toastr/toastr.min.js"></script>
	<script src="../assets/scripts/klorofil-common.js"></script>			
</body>
</html>
