<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<classPathEntry
		location="E:/aptech/code/jar/mysqldriver/mysql-connector-java-5.1.5-bin.jar" />
	<context id="context1">
		<!-- 注释 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" /><!-- 是否取消注释 -->
			<property name="suppressDate" value="true" /> <!-- 是否生成注释代时间戳 -->
		</commentGenerator>
		<jdbcConnection connectionURL="jdbc:mysql://localhost:3306/laimiqi?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMutilQueries=true"
			driverClass="com.mysql.jdbc.Driver" password="root" userId="root" />
		<!-- 实体生成位置 -->
		<javaModelGenerator targetPackage="com.imsystem.domain"
			targetProject="src/main/java" />
		<!-- mapper配置文件生成 -->
		<sqlMapGenerator targetPackage="mapper"
			targetProject="src/main/resources" />
		<!-- mapper接口生成 -->
		<javaClientGenerator targetPackage="com.imsystem.mapper"
			targetProject="src/main/java" type="XMLMAPPER" />
		
		<table schema="Customergroup" tableName="customergroup"></table>
		<table schema="goodsvalueandlable" tableName="goodsvalueandlable"></table>
		<table schema="Goodsvaluelable" tableName="goodsvaluelable"></table>
		<table schema="Promotion" tableName="promotion"></table>
		<table schema="Promotiongoods" tableName="promotiongoods"></table>
		<table schema="Promotionmap" tableName="promotionmap"></table>
		<table schema="Promotionrule" tableName="promotionrule"></table>
		<table schema="Promotionrulevalue" tableName="promotionrulevalue"></table>
		<table schema="Userandlable" tableName="userandlable"></table>
		<table schema="Userlable" tableName="userlable"></table>
		<table schema="Userlableandgoodsvalue" tableName="userlableandgoodsvalue"></table>
		
	</context>
</generatorConfiguration>