
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>新增客户报价页面</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
<style type="text/css">
	*{
		-webkit-user-select: none;
	}
	
	h5 label{
		padding-top: 6px;
		margin-bottom: 0px;
		margin-right: 8px;
	}
	#chooseUl{
		list-style: none;
		margin: 0px;
		padding: 0px;
		display: flex;
		flex-direction: row;
		text-align: center;
	}
	#chooseUl li:first-child{
		width: 20%;
		margin-left: 29%;
		margin-right: 1%;
		text-align: right;
	}
	#chooseUl li:last-child{
		width: 20%;
		margin-right: 29%;
		margin-left: 1%;
		text-align: left;
	}
	.check{
		border-bottom: solid 3px rgb(2,143,208);
		color: rgb(2,143,208);
	}
	
	.numdiv{
		position: relative;
	}
	.numCss{
		float: right;
		position: absolute;
		top: 5px;
		right: 50px;
		color: red;
	}
	.uldiv ul{
		list-style: none;
		margin-top: 8px;
	}
	.uldiv ul li{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px 0px;
		border-bottom: 1px solid lightgray;
		color: black;
	}
	.uldiv ul li .name{
		color: rgb(2,143,208);
	}
</style>
</head>
	<body>
	<input id="cc" type="hidden" th:value="${cc}">
	<input id="cv" type="hidden" th:value="${cv}">
	<input id="gc" type="hidden" th:value="${gc}">
	<input id="gid" type="hidden" th:value="${gid}">
		<div class="row elDocument"style="padding: 28px 20px;">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                            	 <h5 class="card-subtitle " style="float: right;display: flex;flex-direction: row;">
                            	 	
                                	<input type="button" class="btn btn-primary" value="确定新增报价"/>
                                </h5>
                                <h4 class="card-title">
                                	<ul id="chooseUl">
                                		<li id="customerChoose" class="check">按客户新增</li>
                                		<li id="goodsChoose">按货品新增</li>
                                	</ul>
                                </h4>
                               
                                <form class="form-horizontal form-material" id="customerAdd">
                                	<div class="form-group">
                                        <label class="col-md-12">客&nbsp;&nbsp;户&nbsp;&nbsp;名&nbsp;&nbsp;称</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line first-select" id="customerName" value="0">
                                                <option value="0"></option>
                                                <option v-for="(o,i) in customerList" :value="o.id">{{o.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">设置客户报价</label>
                                        <div class="col-sm-12 numdiv">
                                            <select class="form-control form-control-line" id="chooseGoods">
                                            </select>
                                            <i id="goodsNum" class="numCss" v-if="customerQuoteList.length!=0">{{customerQuoteList.length}}</i>
                                        </div>
                                        <div class="col-sm-12 uldiv" id="culdiv">
                                            <ul v-if="customerQuoteList.length!=0">
                                            
                                            	<li v-for="(o,i) in customerQuoteList">
                                            		<span class="goodsName name">{{o.gvobj.goods.name}}</span>
                                            		<span class="salebybulk"  v-for="(o1,i1) in o.gvobj.goodsPrices">
                                            		{{o1.sufname}}：￥<span class="bulkPrirce">{{o1.price}}</span> 
                                            		</span>
                                            		<span class="quote">报价：￥<span class="quotePrirce">{{o.qpobj.price}}</span> </span>
                                            	</li>
                                            	
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                
                                <form class="form-horizontal form-material" id="goodsAdd" method="post" action="">
                                	<div class="form-group">
                                        <label class="col-md-12">货&nbsp;&nbsp;品&nbsp;&nbsp;实&nbsp;&nbsp;例</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line first-select" value="" id="goodsName">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">设置客户报价</label>
                                        <div class="col-sm-12 numdiv">
                                            <select class="form-control form-control-line" id="chooseCustomer">
                                            </select>
                                            <i id="customerNum" class="numCss" v-if="goodsQuoteList.length!=0">{{goodsQuoteList.length}}</i>
                                        </div>
                                        <div class="col-sm-12 uldiv" id="guldiv">
                                            <ul v-if="goodsQuoteList.length!=0">
                                            
                                            	<li v-for="(o,i) in goodsQuoteList">
                                            		<span class="customerName name">{{o.cobj.name}}</span>
                                            		<span class="quote">报价：￥<span class="quotePrirce">{{o.qpobj.price}}</span> </span>
                                            	</li>
                                            	
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
	</body>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
    <script th:src="@{/assets/js/vue.js}"></script>
    
	<script>
	
	var vue=new Vue({
		el:".elDocument",
		data:{
			customerList:{},
			customerQuoteList:{},
			goodsQuoteList:{}
		}
	});
	
		function judge(){
			
			var cval=$("#customerChoose").attr("class");
			var gval=$("#goodsChoose").attr("class");
			var cname=$("#customerName").attr("value");
			$("#customerName option").each(function(){
				var cn=$(this).attr("value");
				if(cn==cname){
					$(this).attr("selected","selected");
				}
			});
			var gname=$("#goodsName").attr("value");
			
			if(cval=="check"){
				$("#goodsAdd").hide();
				$("#customerAdd").show();
				if(cname=="0"){
					$("#culdiv").hide();
				}else{
					$("#culdiv").show();

					$.ajax({
						url:"queryquotebycustomerid",
						data:"cid="+cname,
						type:"post",
						dataType:"json",
						success:function(result){
							vue.customerQuoteList=result;
						}
					});
					
				}
			}else if(gval=="check"){
				$("#goodsAdd").show();
				$("#customerAdd").hide();
				if(gname==""){
					$("#guldiv").hide();
				}else{
					$("#guldiv").show();

					$.ajax({
						url:"queryquotebygoodsvalueid",
						data:"gid="+gname,
						type:"post",
						dataType:"json",
						success:function(result){
							vue.goodsQuoteList=result;
							console.log(vue.goodsQuoteList);
						}
					});
					
				}
			}
			
		}
		
		$(function() {
			
			var cc=$("#cc").val();
			var cv=$("#cv").val();
			var gc=$("#gc").val();
			var gid=$("#gid").val();
			if(cc=="not"){
				$("#customerChoose").attr("class","");
			}else{
				$("#customerChoose").attr("class","check");
			}
			if(cv!=""){
				$("#customerName").attr("value",cv);
			}
			if(gc=="yes"){
				$("#goodsChoose").attr("class","check");
			}else{
				$("#goodsChoose").attr("class","");
			}
			if(gid!=""){
				$("#goodsName").attr("value",gid);
				$("#goodsName").append("<option value='"+gid+"' selected='selected'>"+gid+"</option>");
				
			}
		
			
			judge();
			
			$.ajax({
				url:"querycustomers",
				type:"post",
				dataType:"json",
				success:function(result){
					vue.customerList=result;
				}
			});
			
			$("#customerChoose").click(function(){
				$(this).attr("class","check");
				$("#goodsChoose").attr("class","");
				judge();
			});
			$("#goodsChoose").click(function(){
				$(this).attr("class","check");
				$("#customerChoose").attr("class","");
				judge();
			});
			
			/* 客户或商品变化 */
			$("#customerName").change(function(){
				var cv=$("#customerName").val();
				var cname=$("#customerName").attr("value",cv);
				judge();
			});
			$("#goodsName").click(function(){
				var customerName=$("#customerName").val();
				$("#goodsAdd").attr("action","tochoseonegoodsvalue?cc=not&cname="+customerName+"&gc=yes");
				$("#goodsAdd").submit();
			});
			$("#goodsName").change(function(){
				judge();
			});
			
			/* 选择商品或客户 */
			$("#chooseGoods").click(function(){
				var cname=$("#customerName").attr("value");
				var gname=$("#goodsName").attr("value");
				if(cname=="0"){
					
				}else{
					$("#customerAdd").attr("action","tochosecustomers?cc=yes&cv="+cname+"&gc=not&gv="+gname);
					$("#customerAdd").submit();
				}
			});
			
			$("#chooseCustomer").click(function(){
				var gname=$("#goodsName").attr("value");
				if(gname==""){
					
				}else{
					location="ChooseCustomers.html";
				}
			});
	
		});
	</script>
</html>
