


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>供应商新增页面</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->

<style type="text/css">
	*{
			-webkit-user-select: none;
		}
	.btn-success{
		width: 100%;
	}
</style>
</head>

<!-- //Head -->

<!-- Body -->
<body>
	
<div class="row elDocument" style="padding: 28px 20px;">
                 
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-12 col-xlg-12 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <form id="addSupplierForm" action="addSupplier" method="post" class="form-horizontal form-material">
                                	
                                	<input type="hidden" value="1" id="uid" name="uid"> 
                                	
                                	<div class="form-group">
                                        <label class="col-md-12">供应商名称</label>
                                        <div class="col-md-12">
                                            <input type="text" id="name" value="" name="name" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">门店编号</label>
                                        <div class="col-sm-12"> 
                                            <select class="form-control form-control-line" name="sid" id="sid">
                                                <option :value="o.id" v-for="(o,i) in storeList">{{o.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">联系电话</label>
                                        <div class="col-md-12">
                                            <input type="text" id="phone" value="" name="phone" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">发货地址</label>
                                        <div class="col-md-12">
                                            <input type="text" id="address" value="" name="addres" class="form-control form-control-line" placeholder="省/市/区/具体地址">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">余额</label>
                                        <div class="col-md-12">
                                            <input type="text" id="balance" value="0" name="balance" placeholder="0" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">备注</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" name="remark" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <button type="button" class="btn btn-success" id="addSupplier">确认添加</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
	
</body>
<!-- //Body -->
 	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
    <script th:src="@{/assets/js/vue.js}"></script>
    
	<script>
	
	var vue=new Vue({
		el:".elDocument",
		data:{
			storeList:{}
		}
	});
	
		$(function() {
			/* $.ajax({
				url:"querystoretoaddsupplier",
				type:"post",
				dataType;"json",
				success:function(result){
					vue.storeList=result.slist;
				}
			}); */
			$.ajax({
				url:"querystoretoaddsupplier",
				type:"post",
				dataType:"json",
				success:function(result){
					vue.storeList=result.slist;
				}
			});
			
			$("#addSupplier").click(function(){
				var uid=$("#uid").val();
				var name=$("#name").val();
				var sid=$("#sid").val();
				var phoen=$("#phone").val();
				var address=$("#address").val();
				var balance=$("#balance").val();
				if(uid==""){
					alert("请先登录！");
				}else{
					if(name==""){
						alert("信息不完整！");
					}else{
						if(sid==""){
							alert("门店不可为空！");
						}else{
							if(phoen==""){
								alert("信息不完整！");
							}else{
								if(address==""){
									alert("信息不完整！");
								}else{
									
									var addr=/^[\u4e00-\u9fa5]+\/[\u4e00-\u9fa5]+\/[\u4e00-\u9fa5]+\/[\u4e00-\u9fa5_a-zA-Z0-9_-]+$/;
									
									if(addr.test(address)==false){
										alert("地址输入格式不正确！");
										
									}else{
										if(balance==""){
											alert("信息不完整！");
										}else{
											$("#addSupplierForm").submit(); 
										}
									}
									
								}
							}
						}
					}
				}
				
			});
		});
	</script>

</html>