
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>根据客户选择报价商品页面</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
<style type="text/css">
	*{
		-webkit-user-select: none;
	}
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
		position: relative;
    	left: 0px;
    	opacity: 10;
	}
	h5 label{
		padding-top: 6px;
		margin-bottom: 0px;
		margin-right: 8px;
	}
	#searchZero{
		display: flex;
		flex: row;
		margin-right: 6%;
	}
	.checkbox_css{
        display: inline-block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #d1d1d1;
    }
    .checkbox_css:checked{
        display: inline-block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        border-radius: 50%;
        background-position: -29px -91px;
        background-image: url("/assets/img/operation.png");
        background-repeat: no-repeat;
        background-size: 96px 640px;
        border: 1px solid #2685d2;
    }
	.table td, .table th{
		border-color: rgb(2,143,208);
	}
	td img{
		width: 26%;
		height: 55%;
		border-radius: 50%;
	}
	td input{
		width: 30%;
		color: red;
	}
	a:hover{
		cursor: pointer;
	}
</style>
</head>
	<body>
		<div class="row"style="padding: 28px 20px;">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                            	 <h5 class="card-subtitle " style="float: right;display: flex;flex-direction: row;">
                            	 	<div class="input-group" style="margin-right: 2%;">
										<select class="form-control form-control-line">
                                            <option>平板电脑</option>
                                            <option>手机配件</option>
                                            <option>智能手表</option>
                                            <option>智能手机</option>
                                            <option>其他类型</option>
                                        </select>
										<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
									</div>
                            	 	<div class="input-group" style="margin-right: 2%;">
										<input type="text" value="" class="form-control" placeholder="根据商品名称或编号查询">
										<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
									</div>
									<div class="input-group" style="margin-right: 2%;">
										<span>扫码查询</span>
									</div>
                                	<input type="button" class="btn btn-primary" value="确认货品"/>
                                </h5>
                                <h4 class="card-title">选择货品</h4>
                               
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            	<th>选择</th>
                                            	<th>商品图片</th>
                                                <th>商品名称</th>
                                                <th>零售价</th>
                                                <th>批发价</th>
                                                <th>报价</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            	<td>
                                            		<label>
			                        					<input type="checkbox" class="checkbox_css check" checked="checked"/>
			                    					</label>
                                            	</td>
                                                <td><img th:src="@{/assets/img/apple-icon.png}"/></td>
                                                <td>鸭舌帽</td>
                                                <td>0</td>
                                                <td>22</td>
                                                <td><input type="text" name="" class="price" value="25" /></td>
                                            </tr>
                                            <tr>
                                            	<td>
                                            		<label>
			                        					<input type="checkbox" class="checkbox_css check"/>
			                    					</label>
                                            	</td>
                                                <td><img th:src="@{/assets/img/apple-icon.png}"/></td>
                                                <td>鸭舌帽</td>
                                                <td>0</td>
                                                <td>22</td>
                                                <td><input type="text" name="" class="price" value="" /></td>
                                            </tr>
                                            <tr>
                                            	<td>
                                            		<label>
			                        					<input type="checkbox" class="checkbox_css check"/>
			                    					</label>
                                            	</td>
                                                <td><img th:src="@{/assets/img/apple-icon.png}"/></td>
                                                <td>鸭舌帽</td>
                                                <td>0</td>
                                                <td>22</td>
                                                <td><input type="text" name="" class="price" value="" /></td>
                                            </tr>
                                            <tr>
                                            	<td>
                                            		<label>
			                        					<input type="checkbox" class="checkbox_css check" checked="checked"/>
			                    					</label>
                                            	</td>
                                                <td><img th:src="@{/assets/img/apple-icon.png}"/></td>
                                                <td>鸭舌帽</td>
                                                <td>0</td>
                                                <td>22</td>
                                                <td><input type="text" name="" class="price" value="22" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	</body>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
	<script>
	
		$(function() {
			
			$(".check").each(function(){
				if(this.checked==false){
					$(this).parent().parent().next().next().next().next().next().find("input").attr("disabled","disabled");
				}
			});
			$(".price").each(function(){
				var vul=$(this).val();
				if(vul==""){
					$(this).attr("disabled","disabled");
					$(this).parent().prev().prev().prev().prev().prev().find(".check").removeAttr("checked");
				}
			});
			
			$(".check").click(function(){
				$(".check").each(function(){
					if(this.checked){
						var val=$(this).parent().parent().next().next().next().next().next().find("input").val();
						if(val==""){
							$(this).parent().parent().next().next().next().next().next().find("input").val("0");
						}
						$(this).parent().parent().next().next().next().next().next().find("input").removeAttr("disabled");
					}else{
						$(this).parent().parent().next().next().next().next().next().find("input").val("");
						$(this).parent().parent().next().next().next().next().next().find("input").attr("disabled","disabled");
					}
				});
			});
			$(".price").blur(function(){
				var vul=$(this).val();
				if(vul==""){
					$(this).attr("disabled","disabled");
					$(this).parent().prev().prev().prev().prev().prev().find(".check").removeAttr("checked");
				}
			});
	
		});
	</script>
</html>
