
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>根据客户选择报价商品页面</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
<style type="text/css">
	*{
		-webkit-user-select: none;
	}
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
		position: relative;
    	left: 0px;
    	opacity: 10;
	}
	
	h5 label{
		padding-top: 6px;
		margin-bottom: 0px;
		margin-right: 8px;
	}
	#searchZero{
		display: flex;
		flex: row;
		margin-right: 6%;
	}
	.checkbox_css{
        display: inline-block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #d1d1d1;
    }
    .checkbox_css:checked{
        display: inline-block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        border-radius: 50%;
        background-position: -29px -91px;
        background-image: url("/assets/img/operation.png");
        background-repeat: no-repeat;
        background-size: 96px 640px;
        border: 1px solid #2685d2;
    }
	.table td, .table th{
		border-color: rgb(2,143,208);
	}
	td img{
		width: 47px;
    	height: 45px;
		border-radius: 22px;
		
	}
	td input{
		width: 30%;
		color: red;
	}
	a:hover{
		cursor: pointer;
	}
</style>
</head>
	<body>
		<div class="row elDocument"style="padding: 28px 20px;">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                            	 <h5 class="card-subtitle " style="float: right;display: flex;flex-direction: row;width: 60%;">
                            	 	
                            	 	<div class="input-group" style="margin-right: 2%;">
										<input type="text" value="" class="form-control" placeholder="商品名称" id="goodsName">
										<span class="input-group-btn"><button id="searchGoods" type="button" class="btn btn-primary">Go</button></span>
									</div>
									<div class="input-group" style="margin-right: 2%;width: 20%;">
										<span>扫码查询</span>
									</div>
                                	<input id="addGoods" type="button" class="btn btn-primary" value="确认货品"/>
                                </h5>
                                <h4 class="card-title">选择货品</h4>
                          <form id="chooseGoodsForm" action="" method="post">  
                          
                          		<input name="cc" id="cc" type="hidden" th:value="${cc}">
								<input name="cv" id="cv" type="hidden" th:value="${cv}">
								<input name="gc" id="gc" type="hidden" th:value="${gc}">
								<input name="gv" id="gv" type="hidden" th:value="${gv}">
								<input name="gts" id="gts" type="hidden" th:value="${gts}">
                             
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            	<th>选择商品</th>
                                            	<th>商品图片</th>
                                                <th>商品名称</th>
                                                <th>商品价格</th>
                                                <th>商品报价</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            <tr v-for="(o,i) in quoteGoodsList">
                                            	<td>
                                            		<label>
			                        					<input v-if="o.qpobj!=null" onclick="check(this)" type="checkbox" class="checkbox_css check" checked="checked"/>
			                        					<input v-if="o.qpobj==null" onclick="check(this)" type="checkbox" class="checkbox_css check"/>
			                    					</label>
			                    					<input type="hidden" name="" :value="o.gvobj.id"/>
                                            	</td>
                                                <td>
                                                	<img v-if="o.gvobj.column1==null" :src="'data:image/png;base64,'+o.gvobj.goods.img"/>
                                                	<img v-else :src="o.gvobj.column1"/>
                                                </td>
                                                <td>{{o.gobj.name}}</td>
                                                <td>{{o.gobj.price}}</td>
                                                <td>
                                                	<input v-if="o.qpobj!=null" type="text" name="" class="price" :value="o.qpobj.price" onblur="changePrice(this)"/>
                                                	<input v-if="o.qpobj==null" type="text" name="" class="price" disabled="disabled" value="" onblur="changePrice(this)"/>
                                                </td>
                                                <input v-if="o.qpobj!=null" type="hidden" name=""  :value="o.qpobj.id"/>
                                           		<input v-if="o.qpobj==null" type="hidden" name=""  :value="0"/>
                                            	<input type="hidden" name=""  :value="o.gobj.name"/>
                                            	<td class="prices" style="display: none;">
                                            		<p v-for="(o1,i1) in o.gvobj.goodsPrices">
                                            			<input class="sufname" type="hidden" name="" :value="o1.sufname"/>
                                            			<input class="gvprice" type="hidden" name="" :value="o1.price"/>
                                            		</p>
                                            	</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                           
                         </form>  		
                           	
                            </div>
                        </div>
                    </div>
                </div>
	</body>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
    <script th:src="@{/assets/js/vue.js}"></script>
    <script th:src="@{/assets/js/page.js}"></script>
    
	<script th:inline="javascript">
	
	var vue=new Vue({
		el:".elDocument",
		data:{
			quoteGoodsList:"",
			zeroParentType:""
		}
	});
	
	/* 查询商品所有父类 */
	/* function queryZeroType(){
		$.ajax({
			url:[[@{/goods/queryGoodsTypeByPid}]],
			data:"id=0",
			type:"post",
			dataType:"json",
			success:function(result){
				vue.zeroParentType=result;
				console.log(vue.zeroParentType);
			}
		});
	} */
	
	
	/* 商品实例查询 */
	function queryCustomerByName(){
		var name=$("#goodsName").val();
		var cid=$("#cv").val();
		$.ajax({
			url:"querygoodsquotelist",
			data:{
				"name":name,
				"cid":cid
			},
			type:"post",
			dataType:"json",
			success:function(result){
				vue.quoteGoodsList = result;
			}
		});
	}
	
	/* 点击多选按钮 */
	function check(th){
		if($(th).is(":checked")){
			/* 查询客户对应价格 */
			var cid=$("#cv").val();
			var gvid=$(th).parent().next().val();
			
			var val=$(th).parent().parent().next().next().next().next().find("input").val();
			if(val==""){
				
				$.ajax({
					url:"queryprice",
					data:{
						"cid":cid,
						"gvid":gvid
					},
					type:"post",
					success:function(result){
						$(th).parent().parent().next().next().next().next().find("input").val(result);
					}
				});
				
			}
			$(th).parent().parent().next().next().next().next().find("input").removeAttr("disabled");
		}else{
			$(th).parent().parent().next().next().next().next().find("input").val("");
			$(th).parent().parent().next().next().next().next().find("input").attr("disabled","disabled");
		}
	}
	
	/* 价格变动 */
	function changePrice(th){
		var vul=$(th).val();
		if(vul==""){
			$(th).attr("disabled","disabled");
			$(th).parent().prev().prev().prev().prev().find(".check").removeAttr("checked");
		}
	}
	
	/* 复选框遍历 */
	function eachCheckbox(){
		var num=0;
		$(".check").each(function(){
			if(this.checked){
				$(this).parent().next().attr("name","gvlist["+num+"].id");
				$(this).parent().parent().next().next().next().next().find(".price").attr("name","qplist["+num+"].price");
				$(this).parent().parent().next().next().next().next().next().attr("name","qplist["+num+"].id");
				$(this).parent().parent().next().next().next().next().next().next().attr("name","glist["+num+"].name");
				var i=0;
				$(this).parent().parent().parent().find(".prices p").each(function(){
					$(this).find(".sufname").attr("name","gvlist["+num+"].goodsPrices["+i+"].sufname");
					$(this).find(".gvprice").attr("name","gvlist["+num+"].goodsPrices["+i+"].price");
					i++;
				});
				num++;
			}
		});
	}
	
	
		$(function() {
			/* 查询所有商品 */
			queryCustomerByName();
			/* 根据商品名称查询商品 */
			$("#searchGoods").click(function(){
				queryCustomerByName();
			});
			
			$("#addGoods").click(function(){
				eachCheckbox();
				$("#chooseGoodsForm").attr("action","choosegoods");
				$("#chooseGoodsForm").submit();
			});
			
			
			/* $(".check").each(function(){
				if(this.checked==false){
					$(this).parent().parent().next().next().next().next().next().find("input").attr("disabled","disabled");
				}
			});
			$(".price").each(function(){
				var vul=$(this).val();
				if(vul==""){
					$(this).attr("disabled","disabled");
					$(this).parent().prev().prev().prev().prev().prev().find(".check").removeAttr("checked");
				}
			}); */
			
			
			
	
		});
	</script>
</html>
