
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>客户页面</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"> 
    
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
<style type="text/css">
	*{
		-webkit-user-select: none;
	}
	html{
		font-size: 18px;
	}
	.input-group-btn>.btn{
		width: 50px;
	}
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
		position: relative;
    	left: 0px;
    	opacity: 10;
	}
	h5 label{
		padding-top: 6px;
		margin-bottom: 0px;
		margin-right: 8px;
	}
	#searchZero{
		display: flex;
		flex: row;
		margin-right: 6%;
	}
	.checkbox_css{
        display: inline-block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #d1d1d1;
    }
    .checkbox_css:checked{
        display: inline-block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        border-radius: 50%;
        background-position: -29px -91px;
        background-image: url("/assets/img/operation.png");
        background-repeat: no-repeat;
        background-size: 96px 640px;
        border: 1px solid #2685d2;
    }
	.table td, .table th{
		border-color: rgb(2,143,208);
	}
	td img{
		width: 40%;
		height: 55%;
		border-radius: 50%;
	}
	a:hover{
		cursor: pointer;
	}
	
	/* 分页样式 */
	.pagebtn{
		height: 28px;
		width: 25px;
		border: 1px solid #C0C0C0;
		border-radius: 3px;
		list-style: none;
		text-align: center;
		line-height: 28px;
		cursor: pointer;
	}
	#page>ul{
		display: flex;
		justify-content: space-around;
		padding: 0px;
		font-size: 12px;
	}
	#page{
		width: 300px;
		margin: 20px auto ;
	}
	.currentPage{
		background: #1094ce;
		color: white;
		border: none;
	}
</style>
</head>
	<body>
		<div class="row"style="padding: 28px 20px;">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                            	 <h5 class="card-subtitle " style="float: right;display: flex;flex-direction: row;">
                            	 	<div id="searchZero">
                            	 		<label>
                        					<input type="checkbox" class="checkbox_css zero"/>
                    					</label>
                    					<span style="display: block;width: 60px;line-height: 38px;">零欠款</span>
                            	 	</div>
                            	 	<div class="input-group" style="margin-right: 15%;">
										<input type="text" value="" class="form-control" placeholder="客户名称">
										<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
									</div>
                                	<input type="button" class="btn btn-primary" id="add" value="新增客户"/>
                                </h5>
                                <h4 class="card-title">客户</h4>
                               <form id="customerForm" action="" method="post"></form>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            	<th>客户头像</th>
                                                <th>客户名称</th>
                                                <th>联系人名</th>
                                                <th>联系电话</th>
                                                <th>相关列表</th>
                                                <th>相关账单</th>
                                                <th>客户收款</th>
                                                <th>客户详情</th>
                                                <th>删除客户</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td><img th:src="@{/assets/img/apple-icon.png}"/></td>
                                                <td>紫女 </td>
                                                <td></td>
                                                <td>15858585822</td>
                                                <td><a class="saleList">销售列表</a></td>
                                                <td><a class="bill">应收对账单</a></td>
                                                <td><a class="receive">收款</a></td>
                                                <td><a class="detail">查看详情</a></td>
                                                <td><a class="del" style="color: red;">删除</a></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                
                                <!-- 分页 -->
                                <div id="page">
									<ul>
										<li class="pagebtn pagePrev"><span class="glyphicon glyphicon-menu-left"></span></li>
										<li class="pagebtn currentPage pageCurrent pageq">1</li>
										<li class="pagebtn pageCurrent pageq">2</li>
										<li class="pagebtn pageCurrent pageq">3</li>
										<li class="pagebtn" id="pageDian" style="border: none;background: white;font-size: 20px;">...</li>
										<li class="pagebtn pageCurrent pageDi">14</li>
										<li class="pagebtn pageCurrent">15</li>
										<li class="pagebtn pageNext"><span class="glyphicon glyphicon-menu-right"></span></li>
									</ul>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
	</body>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
	<script>
	
	function pageJia(index){
		$(".pageCurrent:eq("+index+")").removeClass("currentPage");
		$(".pageCurrent:eq("+(index+1)+")").addClass("currentPage");
	}
	function pageJian(index){
		$(".pageCurrent:eq("+index+")").removeClass("currentPage");
		$(".pageCurrent:eq("+(index-1)+")").addClass("currentPage");
	}
	
		$(function() {
			
			
			
			/*查看详情*/
			$(".detail").click(function(){
				
			});
			
			/*新增用户*/
			$("#add").click(function(){
				$("#customerForm").attr("action","toaddcustomer");
				$("#customerForm").submit();
			});
			
			/* 分页js */
			var s=0;
			$(".pageNext").click(function(){
				var currentPage = $(".currentPage");
				var index = $(".pageCurrent").index(currentPage);
				if(index == 0){
					pageJia(index);
					return;
				}
				if($("#pageDian").css("display") != "none"){
					$(".pageq").each(function(index,e){
						if(index == $(".pageq").length-1){
							$(e).text(parseInt($(e).text())+1)
							return;
						}
						$(e).text($(".pageq:eq("+(index+1)+")").text());
					});
				}
				if(parseInt($(".pageCurrent:eq("+(index+1)+")").text()) >= parseInt($(".pageDi").text())-1){
					if(s == 0){
						$("#pageDian").css("display","none");
						s++;
					}
					else{
						pageJia(index);
					}
					return;
				}
			});
			
			$(".pagePrev").click(function(){
				var currentPage = $(".currentPage");
				var index = $(".pageCurrent").index(currentPage);
				if($(".pageCurrent:eq("+(index)+")").text() == 1){
					return;
				}
				if($(".pageCurrent:eq("+(index)+")").text() <= 2){
					pageJian(index);
					return;
				}
				if(parseInt($(".pageCurrent:eq("+(index)+")").text()) == parseInt($(".pageDi").text())-2){
					$("#pageDian").css("display","block");
					s=0;
				}
				if(parseInt($(".pageCurrent:eq("+(index)+")").text()) > parseInt($(".pageDi").text())-2){
					pageJian(index);
					return;
				}
				else{
					$(".pageq").each(function(index,e){
						if(index == 0){
							$(e).text(parseInt($(e).text())-1)
							return;
						}
						$(e).text(parseInt($(".pageq:eq("+(index-1)+")").text())+1);
					});
					
				}
				
			});
			
			$(".pageCurrent").click(function(){
				
				var index = $(".pageCurrent").index(this);
				
				var currentPage = $(".currentPage");
				
				var currentIndex = $(".pageCurrent").index(currentPage);
				
				var text = $(this).text();
				
				if(text == "1"){
					$(".pageCurrent").removeClass("currentPage");
					$(this).addClass("currentPage");
					return;
				}
				
				if(index != currentIndex){
					
					var zhi = parseInt($(".pageCurrent:eq("+index+")").text()-2);
					if(zhi+2 >= parseInt($(".pageDi").text())-2){
						
						$("#pageDian").css("display","none");
						
						var dishu = parseInt($(".pageDi").text())-4;
						$(".pageq").each(function(index,e){
							$(e).text(++dishu);			
						});
						s=1;
					}else{
						
						$("#pageDian").css("display","block");
						
						s=0;
						
						$(".pageq").each(function(index,e){
							$(e).text(++zhi);			
						});
					}
					$(".pageCurrent").removeClass("currentPage");
					$(".pageCurrent").each(function(index,e){
						if($(e).text() == text){
							$(e).addClass("currentPage");
						}
					});
				}
			});
		});
	</script>
</html>
