
<!DOCTYPE html>
<html>

<!-- Head -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>客户详情及修改页面</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    
    <link th:href="@{/assets/PickAddress/css/city-picker.css}" rel="stylesheet">
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->

<style type="text/css">
*{
			-webkit-user-select: none;
		}
	.img-circle{
		background-color: lightgrey;
	}
	.card .card-subtitle{
		color: goldenrod;
		font-size: 16px;
	}
	#name{
		width: 100%;
		text-align: center;
		border: none;
		outline: none;
	}
	#integral{
		width: 80%;
		padding-left: 5px;
		color: goldenrod;
		border: none;
		outline: none;
	}
	.text-center div{
		margin-bottom: 15px;
		color: #455a64;
	}
	#initialMoney,#balance{
		width: 50%;
		text-align: center;
		border: none;
		outline: none;
	}
	/* 选择文件按钮样式 */
	#chooseFileDiv,#chooseFileDiv input{
		width: 100%;
	}
	#chooseFileDiv{
		position: absolute;
		right: 0px;
		bottom: 2px;
		opacity: 0.0;
	}
	/* 地址选择样式 */
	.city-picker-dropdown{
		    position: relative;
	}
</style>
</head>

<!-- //Head -->

<!-- Body -->
<body>
	
<div class="row elDocument" style="padding: 28px 20px;">

		<input type="hidden" id="id" th:value="${cid}"/>
        <input type="hidden" value="" id="uid">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> 
                                	<img v-if="customer.img==null" th:src="@{/assets/img/tmore.png}" id="img" class="img-circle" width="150" height="145">
                                   <img v-else :src="'data:image/png;base64,'+customer.img" id="img" class="img-circle" width="150" height="145">
                                   
                                    <h4 class="card-title m-t-10"><input type="text" name="name" id="name" :value="customer.name" /></h4>
                                    <h6 class="card-subtitle">积分:<input type="text" name="integral" id="integral" :value="customer.score" /></h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-6">初始余额:<input type="text" name="" id="initialMoney" :value="customer.initbalance" /></div>
                                        <div class="col-6">余&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额:<input type="text" name="" id="balance" :value="customer.balance" /></div>
                                    </div>
                                </center>
                            </div>
                            
                            <div id="chooseFileDiv">
                            	<input type="file" value="" onchange="imgShow(this)">
                            </div>
                            <button class="btn btn-danger btn-block ">
               					更换头像
             				</button>
                        </div>
                    </div>
                  	
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                                <form id="updateCustomerForm" class="form-horizontal form-material">
                                	<div class="form-group">
                                        <label class="col-md-12">联系人名称</label>
                                        <div class="col-md-12">
                                            <input type="text" id="telephonename" :value="customer.telephonename" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">联系人电话</label>
                                        <div class="col-md-12">
                                            <input type="text" id="telephone" :value="customer.telephone" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">收货地址</label>
                                        	<div data-toggle="city-picker">
											   <input readonly type="text" data-toggle="city-picker">
											</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">详细地址</label>
                                        <div class="col-md-12">
                                            <input type="text" id="detailAddress" value="" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">客户类型</label>
                                        <div class="col-sm-12">
                                            <select id="ct" class="form-control form-control-line">
                                                <option v-for="(o,i) in typeList" :value="o.ctObj.id"  :selected="o.ctObj.id == customer.cid" >
                                                {{o.ctObj.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">客户等级</label>
                                        <div class="col-sm-12">
                                            <select id="cl" class="form-control form-control-line">
                                                <option v-for="(o,i) in levelList" :value="o.clObj.id" :selected="o.clObj.id == customer.lid">
                                                {{o.clObj.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">所属门店</label>
                                        <div class="col-sm-12">
                                            <select id="sid" class="form-control form-control-line" >
                                                <option v-for="(o,i) in storeList" :value="o.id" :selected="o.id == customer.storeid">
                                                {{o.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button id="updateCustomer" type="button" class="btn btn-success">确认修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
	
</body>
<!-- //Body -->
 	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
    <script th:src="@{/assets/js/vue.js}"></script>
    
    <script th:src="@{/assets/PickAddress/js/jquery-1.11.3.min.js}"></script>
	<script th:src="@{/assets/PickAddress/js/city-picker.data.js}"></script>
	<script th:src="@{/assets/PickAddress/js/city-picker.js}"></script>
    
	<script>
	
	var vue=new Vue({
		el:".elDocument",
		data:{
			typeList:{},
			levelList:{},
			storeList:{},
			customer:{},
			user:{}
		}
	});
	
	var formData=new FormData();
	
	function imgShow(obj) {

		var file = obj.files.item(0);
		if(!(/^image\/.*$/i.test(file.type))) {
			alert("不是图片文件！"); //不是图片 就跳出这一次循环  
			return;
		}
		formData.append("files",file); 
		var freader = new FileReader();
		freader.readAsDataURL(file);
		freader.onload = function(e) {

			$("#img").attr("src",e.target.result);

		}
		
		
	}
	
		$(function() {
			vue.user = JSON.parse(window.localStorage.getItem("user"));
			$("#uid").val(vue.user.id);
			
			$.ajax({
				url:"querytypelevel",
				data:"uid="+vue.user.id,
				type:"post",
				dataType:"json",
				success:function(result){
					vue.typeList=result.ctlist;
					vue.levelList=result.cllist;
					vue.storeList=result.slist;
				}
			});
			var id=$("#id").val();
			$.ajax({
				url:"querylcustomerbyid",
				data:"id="+id,
				type:"post",
				dataType:"json",
				success:function(result){
					vue.customer=result;
					var address=result.address;
					var addressArr=address.split("/");
					if(addressArr.length>1){
						$("#detailAddress").val(addressArr[1]);
					}else{
						$("#detailAddress").val(address);
					}
					
					
				}
			});
			$("#updateCustomer").click(function(){
				
				if($("#uid").val()==""){
					alert("请先登录！");
				}else{
					if($("#name").val()==""){
						alert("信息不完整！");
					}else{
						if($("#integral").val()==""){
							alert("信息不完整！");
						}else{
							if($("#initialMoney").val()==""){
								alert("信息不完整！");
							}else{
								if($("#balance").val()==""){
									alert("信息不完整！");
								}else{
									if($("#telephone").val()==""){
										alert("信息不完整！");
									}else{
										var num=0;
										$(".select-item").each(function(){
											num++;
										});
										if(num<3){
											alert("省市区不完整！");
										}else{
											if($("#detailAddress").val()==""){
												alert("请输入详细收货地址！");
											}else{
												if($("#ct").val()==null){
													alert("客户类型不能为空！");
												}else{
													if($("#cl").val()==null){
														alert("客户等级不能为空！");
													}else{
														if($("#sid").val()==null){
															alert("所属门店不能为空！");
														}else{
															var addr1=$(".title").text();
															var addr2=$("#detailAddress").val();
															var addr=addr1+"/"+addr2;
															formData.append("id",$("#id").val());
															formData.append("name",$("#name").val());
															formData.append("score",$("#integral").val());
															formData.append("initbalance",$("#initialMoney").val());
															formData.append("balance",$("#balance").val());
															formData.append("telephone",$("#telephone").val());
															formData.append("address",addr);
															formData.append("telephonename",$("#telephonename").val());
															formData.append("cid",$("#ct").val());
															formData.append("lid",$("#cl").val());
															formData.append("storeid",$("#sid").val());
															$.ajax({
																url:"updatecustomer",
																data:formData,
																type:"post",
																processData:false,
																contentType:false,
																success:function(result){
																	$("#updateCustomerForm").attr("action","tocustomerlist");
																	$("#updateCustomerForm").attr("method","post");
																	$("#updateCustomerForm").submit();
																}
															}); 
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				
			});
			
			
		});
	</script>

</html>