
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<title>我的通告页面</title>
<!-- Bootstrap Core CSS -->
<link rel="stylesheet"
	th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">

<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

<link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link th:href="@{/assets/XiTong/css/blue.css}" id="theme"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/css/myStyle.css}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
<style type="text/css">
* {
	-webkit-user-select: none;
}

html {
	font-size: 18px;
}

.input-group-btn>.btn {
	width: 50px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	position: relative;
	left: 0px;
	opacity: 10;
}

h5 label {
	padding-top: 6px;
	margin-bottom: 0px;
	margin-right: 8px;
}

.btn-primary, .btn-primary.disabled {
	border-color: #00a0f0;
	background-color: rgb(2, 143, 208);
}

#searchZero {
	display: flex;
	flex: row;
	margin-right: 6%;
}

.checkbox_css {
	display: inline-block;
	box-sizing: content-box;
	width: 20px;
	height: 20px;
	-webkit-appearance: none;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #d1d1d1;
}

.checkbox_css:checked {
	display: inline-block;
	box-sizing: content-box;
	width: 20px;
	height: 20px;
	-webkit-appearance: none;
	border-radius: 50%;
	background-position: -29px -91px;
	background-image: url("/assets/img/operation.png");
	background-repeat: no-repeat;
	background-size: 96px 640px;
	border: 1px solid #2685d2;
}

.table>thead>tr>th {
	border-bottom: 2px solid rgb(2, 143, 208);
}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>thead>tr>th {
	border-top: 1px solid rgb(2, 143, 208);
}

td img {
	width: 40%;
	height: 55%;
	border-radius: 50%;
}

a:hover {
	cursor: pointer;
}

/* 分页样式 */
#page {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#myModal1{
	position: absolute;
	top: 55px;
	
}

#content{
	width: 100%;
	height: 50px;
}
</style>
</head>
<body>

	<input type="hidden" value="" id="uid" />

	<div class="row elDocument" style="padding: 28px 20px;">
		<!-- column -->
		<div class="col-lg-12">
			<div class="card">
				<div class="card-block">
					<h5 class="card-subtitle "
						style="float: right; display: flex; flex-direction: row;">
						
						<div class="input-group" style="margin-right: 15%;">

							<input id="content" type="text" value="" class="form-control"
								placeholder="发布者名称/公告内容"> <span class="input-group-btn"><button
									type="button" id="searchLike" class="btn btn-primary">Go</button></span>


						</div>
					</h5>
					<h4 class="card-title">公告</h4>
					<form id="newsForm" action="" method="post"></form>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>发出人</th>
                                    <th>公告类型</th>
                                    <th>发出时间</th>
                                    <th>公告详情</th>
                                    <th>公告状态</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(o,i) in pageIf.list">
                                    <td>{{o.uobj.name}}</td>
                                    <td>{{o.nobj.nt}}</td>
                                    <td>{{dada(o.nobj.time)}}</td>
                                    <input type="hidden" :value="o.nsobj.id"/>
                                    <td>
                                    	<a class="detail glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal1"
										onclick="todetail(this)" style="color: rgb(2, 143, 208);"></a>
									</td>
									<td>
										<span v-if="o.nsobj.column1==0" style="color: red;">未读</span>
										<span v-if="o.nsobj.column1==1">已读</span>
									</td>
                                </tr>
                                <tr>
							</tbody>
						</table>
					</div>

					<!-- 分页 -->
					<div id="page"></div>
					
					
					<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">		
								<div class="modal-dialog" role="document">
		    						<div class="modal-content">
		      						<div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        <h4 class="modal-title" id="myModalLabel">公告详情</h4>
		      						</div>
								    <div class="modal-body">
								      <form class="form-horizontal" id="" action="updatecustomertype" method="post">
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">公告类型</label>
											    <div class="col-sm-9">
											      <input type="text" class="form-control name" id="type" value="">
											    </div>
										  	</div>
										  	
										  	<div class="form-group">
										    	<label for="inputPassword3" class="col-sm-3 control-label">公告内容</label>
											   
											    <textarea id="newsContent" style=""></textarea>
											    
										  	</div>
										  	
										  	<div id="filesDiv">
										  		<span>公告附件</span>
										  		<div id="newsFiles"></div>
										  	</div>
										</form>
								        
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" id="closeModel">关闭</button>
								      </div>
		    						</div>
		  						</div>
		  				</div>
					
					
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/assets/js/tether.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
<!--Wave Effects -->
<script th:src="@{/assets/js/waves.js}"></script>
<!--Menu sidebar -->
<script th:src="@{/assets/js/sidebarmenu.js}"></script>
<!--stickey kit -->
<script th:src="@{/assets/js/sticky-kit.min.js}"></script>
<!--Custom JavaScript -->
<script th:src="@{/assets/js/custom.min.js}"></script>
<script th:src="@{/assets/js/vue.js}"></script>
<script th:src="@{/assets/js/pageNumber.js}"></script>
<script>
	var vue = new Vue({
		el : ".elDocument",
		data : {
			pageIf : "",
			user:{}
		},
		methods:{
			dada:function(inputTime){
				 var date = new Date(inputTime);
				    var y = date.getFullYear();
				    var m = date.getMonth() + 1;
				    m = m < 10 ? ('0' + m) : m;
				    var d = date.getDate();
				    d = d < 10 ? ('0' + d) : d;
				    var h = date.getHours();
				    h = h < 10 ? ('0' + h) : h;
				    var minute = date.getMinutes();
				    var second = date.getSeconds();
				    minute = minute < 10 ? ('0' + minute) : minute;
				    second = second < 10 ? ('0' + second) : second;
				    return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;

			}
		}
	});
	
	
	/* 分页查询 */
	function queryCustomerByPage(curentPage) {
		
		var content = $("#content").val();
		var uid = $("#uid").val();
		$.ajax({
			url : "querynewslist",
			data : {
				"content" : content,
				"curentPage" : curentPage,
				"uid" : uid
			},
			type : "post",
			dataType : "json",
			success : function(result) {
				vue.pageIf = result;
				console.log(result);
				$("#page").append(
						page(vue.pageIf.pageNum, vue.pageIf.prePage,
								vue.pageIf.nextPage, vue.pageIf.pages));
				
			}
		});
	}

	/*查看详情*/
	function todetail(th) {
		$("#myModal1").removeData();
		$("#newsFiles").html("");
		var id = $(th).parent().prev().val();
		$.ajax({
			url : "querynewsbyid",
			data : {
				"id" : id
			},
			type : "post",
			dataType : "json",
			success : function(result) {
				console.log(result);
				$("#type").val(result.nobj.nt);
				$("#newsContent").text(result.nobj.content);
				for(var i=0;i<result.nflist.length;i++){
					var imgDiv=$("<span><img src='/"+result.nflist[i].furl+"' width='20%' height='20%'/></span>");
					$("#newsFiles").append(imgDiv);
				}
				
			}
		});
		
	}

	
	

	$(function() {
		vue.user = JSON.parse(window.localStorage.getItem("user"));
		$("#uid").val(vue.user.id);
		
		queryCustomerByPage(1);
		/* 分页点击 */
		$(document).on(
					"click",
					".pageFy>ul li",
					function() {
						var create = $(this).attr("pageNumber");
						if (create != null && create != 0) {
							queryCustomerByPage(create); 
						}
					});

		
		$("#searchLike").click(function() {
			queryCustomerByPage(1);
		});
		
		$("#closeModel").click(function() {
			$("#myModal1").modal("hide");
			location.reload();
		});

	});
</script>
</html>
