
<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>客户报价页面</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
	
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->
<style type="text/css">
	*{
		-webkit-user-select: none;
	}
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
		position: relative;
    	left: 0px;
    	opacity: 10;
	}
	h5 label{
		padding-top: 6px;
		margin-bottom: 0px;
		margin-right: 8px;
	}
	#searchZero{
		display: flex;
		flex: row;
		margin-right: 6%;
	}
	
	.table td, .table th{
		border-color: rgb(2,143,208);
	}
	td img{
		width: 57px;
		height: 55px;
		/* border-radius: 50%; */
	}
	td input{
		width: 30%;
	}
	a:hover{
		cursor: pointer;
	}
	
	/* 分页样式 */
	.pagebtn{
		height: 28px;
		width: 25px;
		border: 1px solid #C0C0C0;
		border-radius: 3px;
		list-style: none;
		text-align: center;
		line-height: 28px;
		cursor: pointer;
	}
	#page>ul{
		display: flex;
		justify-content: space-around;
		padding: 0px;
		font-size: 12px;
	}
	#page{
		width: 300px;
		margin: 20px auto ;
	}
	.currentPage{
		background: #1094ce;
		color: white;
		border: none;
	}
</style>
</head>
	<body>
		<div class="row elDocument"style="padding: 28px 20px;">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                            	 <h5 class="card-subtitle " style="float: right;display: flex;flex-direction: row;">
                            	 	<div class="input-group" style="margin-right: 10%;">
										<input id="customerName" type="text" value="" class="form-control" placeholder="客户名称">
										<span class="input-group-btn"><button id="searchByCustomerName" type="button" class="btn btn-primary">Go</button></span>
									</div>
                            	 	<div class="input-group" style="margin-right: 10%;">
										<input id="goodsName" type="text" value="" class="form-control" placeholder="商品名称">
										<span class="input-group-btn"><button id="searchByGoodsName" type="button" class="btn btn-primary">Go</button></span>
									</div>
                                	<input type="button" class="btn btn-primary" id="add" value="新增客户报价"/>
                                </h5>
                                <h4 class="card-title">客户报价</h4>
                               <form id="quoteForm" action="" method="post"></form>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            	<th>商品图片</th>
                                                <th>商品名称</th>
                                                <th>客户名称</th>
                                                <th>客户报价</th>
                                                <th>商品单位</th>
                                                <th>报价时间</th>
                                                <th>修改报价</th>
                                                <th>删除报价</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(o,i) in pageIf.list">
                                                <td>
                                                <img v-if="o.gvobj.column1==null" :src="'data:image/png;base64,'+o.gvobj.goods.img"/>
                                                <img v-else :src="o.gvobj.column1"/>
                                                </td>
                                                <td>{{o.gvobj.goods.name}}</td>
                                                <td>{{o.cobj.name}}</td>
                                                <td>{{o.qpobj.price}}</td>
                                                <td>{{o.gobj.bitval}}</td>
                                                <td>{{o.qpobj.time}}</td>
                                                <input type="hidden" :value="o.qpobj.id" />
                                                <td>
													<label>报价：</label>
                                                	<input type="text" :vul="o.qpobj.price" name="" class="" :value="o.qpobj.price" />
                                                	<a class="upd" onclick="update(this)">修改</a>
                                                </td>
                                                <td><a class="del" style="color: red;">删除</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <!-- 分页 -->
                                <div id="page">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	</body>
	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
    <script th:src="@{/assets/js/vue.js}"></script>
    <script th:src="@{/assets/js/page.js}"></script>
    
	<script>
	
	var vue=new Vue({
		el:".elDocument",
		data:{
			pageIf:""
		}
	});
	
	/* 修改报价 */
	function update(th){
		var id=$(th).parent().prev().val();
		var price=$(th).prev().val(); 
		var iniprice=$(th).prev().attr("vul");
		if(price==""){
			$(th).prev().val(iniprice);
			alert("报价不能为空！");
		}else{
			$(th).prev().val(price);
			$("#quoteForm").attr("action","updatequotedprice?qid="+id+"&price="+price);
			$("#quoteForm").submit();
		}
	}
	
	/* 分页查询 */
	function queryQuoteByPage(cname,gname,curentPage){
		
		$.ajax({
			url:"queryquoteprice",
			data:{
				"cname":cname,
				"gname":gname,
				"curentPage":curentPage
			},
			type:"post",
			dataType:"json",
			success:function(result){
				vue.pageIf = result;
				page(vue);
				console.log(result);
			}
		});
	}
	
	/* 分页点击 */
	function floatPage(){
		var cname=$("#customerName").val();
		var gname=$("#goodsName").val();
		queryQuoteByPage(cname,gname,$('.currentPage').text());
	}
	
		$(function() {
			
			queryQuoteByPage("","",1);
			
			$("#searchByCustomerName").click(function(){
				var cname=$("#customerName").val();
				var gname=$("#goodsName").val();
				queryQuoteByPage(cname,gname,1);
			});
			
			$("#searchByGoodsName").click(function(){
				var cname=$("#customerName").val();
				var gname=$("#goodsName").val();
				queryQuoteByPage(cname,gname,1);
			});
			
			/*新增客户报价*/
			$("#add").click(function(){
				$("#quoteForm").attr("action","toaddquote");
				$("#quoteForm").submit();
			});
			
			
	
		});
	</script>
</html>
