


<!DOCTYPE html>
<html>

<!-- Head -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>供应商详情及修改页面</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/XiTong/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/assets/XiTong/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/assets/XiTong/css/blue.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
<![endif]-->

<style type="text/css">
	
	.btn-success{
		width: 100%;
	}
</style>
</head>

<!-- //Head -->

<!-- Body -->
<body>
	
<div class="row" style="padding: 28px 20px;">
                    
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-12 col-xlg-12 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <form class="form-horizontal form-material">
                                	<div class="form-group">
                                        <label class="col-md-12">供应商名称</label>
                                        <div class="col-md-12">
                                            <input type="text" value="飞音云巅工厂" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">门店编号</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line">
                                                <option>AT444444</option>
                                                <option>AT555555</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">联系电话</label>
                                        <div class="col-md-12">
                                            <input type="text" value="13548965412" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">发货地址</label>
                                        <div class="col-md-12">
                                            <input type="text" value="田园区花竹市护额哦啊佩服你" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">余额</label>
                                        <div class="col-md-12">
                                            <input type="text" value="2000" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">备注</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <button class="btn btn-success">确认修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
	
</body>
<!-- //Body -->
 	<script th:src="@{/assets/js/jquery.min.js}"></script>
 	<script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/js/tether.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/assets/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/assets/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/js/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/assets/js/custom.min.js}"></script>
    
	<script>
	
		$(function() {
			
		});
	</script>

</html>