<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta charset="utf-8" />
<title>订单页面</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/assets/css/myStyle.css}" />
<link rel="stylesheet" th:href="@{/assets/css/toastr.css}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/assets/css/daterangepicker.css}" />
<script type="text/javascript"
	th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/moment.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/Mydate.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/pageNumber.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/toastr.min.js}"></script>
<style type="text/css">
.selected>div {
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.content {
	overflow-x: auto;
	padding-top: 15px;
}

.datetimepicker {
	margin: 0px;
}


#page {
	width: 100%;
	margin: 20px auto;
}

.currentPage {
	background: rgb(2, 143, 208);
	color: white;
	border: none;
}

.table>tbody>tr {
	cursor: pointer;
}

.table>tbody>tr>td {
	white-space: nowrap;
	padding: 8px 20px;
}

.table>thead>tr>th {
	white-space: nowrap;
	padding: 8px 20px;
}

.xsoptions {
	display: none;
}

#options {
	display: none;
}

.display {
	display: block;
}

.boss, .tj {
	margin-bottom: 0px;
}

.glyphicon {
	color: rgb(2, 143, 208);
}

.page-title {
	font-weight: bold;
	color: rgb(2, 143, 208);
	letter-spacing: 5px;
}

.tj span {
	background: rgb(2, 143, 208);
	border-color: rgb(2, 143, 208);
	color: white;
}

@media ( max-width : 767px) {
	.xsoptions {
		display: block;
		line-height: 30px;
		margin-left: -15px;
	}
	.display {
		display: none;
	}
	.displayBlock {
		display: block;
	}
}

.orderOver {
	color: red;
	margin-right: 10px;
	font-size: 12px;
	padding: 0px 3px;
	border-radius: 15%;
	border: 1px solid red;
}
</style>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="container-fluid" id="main" style="background: white;">
				<div class="panel-heading">
					<h3 class="panel-title">报表 - 1</h3>
					<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
				</div>
				<div class="selected row boss">
					<div class="col-md-3 col-sm-6 col-xs-11 tj">
						<div class="input-group">
							<span class="input-group-addon">编号</span> <input
								@keyup.enter="code" v-model="no" id="no" class="form-control"
								placeholder="订单编号" />
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-11 tj">
						<div class="input-group">
							<span class="input-group-addon">商品名称</span> <input
								@keyup.enter="code" v-model="shappingname" class="form-control"
								placeholder="商品名称" />
						</div>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-11 display tj">
						<div class="input-group">
							<span class="input-group-addon">时间</span> <input
								class="form-control" onchange="time(this)" id="config-demo"
								style="border: none; border-right: 1px solid #ddd; border-radius: 0px;"
								placeholder="开始时间" /> <span class="input-group-addon">时间</span>
							<span class="input-group-addon order" data="0"> <span
								class="glyphicon glyphicon-triangle-bottom"></span>
							</span>
						</div>
					</div>
					<div class="col-md-1 col-sm-12 col-xs-11 display tj">
						<div class="input-group">
							<span class="input-group-addon">显示已售</span> <span
								class="form-control"> <input type="checkbox"
								onchange="check()" id="check">
							</span>
						</div>
					</div>
					<div class="col-xs-1 xsoptions">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</div>
				</div>
				<div id="options">
					<ul class="list-group well">
						<li class="list-group-item" data="0">订单查询</li>
						<li class="list-group-item" data="1">排序And条数</li>
					</ul>
				</div>
				<div class="content text-center">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="text-align: center;">订单编号</th>
								<th style="text-align: center;">时间</th>
								<th style="text-align: center;">应付金额</th>
								<th style="text-align: center;">实付金额</th>
								<th style="text-align: center;">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in pageIf.list">
								<td style="display: flex">
									<div v-if="item.state == 2" class="orderOver">已售完</div>
									<div v-if="item.state == 1" class="orderOver">调拨</div>
									{{item.code}}
								</td>
								<td>{{item.updatetime}}</td>
								<td>{{item.column1}}</td>
								<td>{{item.column2}}</td>
								<td>
									<div :data="item.id" style="display: flex;">
										<span style="margin: auto;" title="修改"
											v-on:click="openModel(item.code)"
											class="glyphicon glyphicon-edit"></span>
									</div> <!-- &nbsp;&nbsp; <span
											style="margin: auto;" title="调拨"
											class="glyphicon glyphicon-check"
											v-on:click="openAllotModel(item.code)"></span> -->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal fade bs-example-modal-lg" tabindex="-1"
					role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">
									订单详情&nbsp;&nbsp;<span></span>
								</h4>
							</div>
							<div class="modal-body">
								<iframe width="100%"
									style="border: none; overflow-x: auto; min-height: 60vh"></iframe>
							</div>
							<div class="modal-footer">
								<span style="font-size: 13px; color: #DDDDDD;">点击数量可修改</span>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" id="insertOk"
									data-dismiss="modal">确定</button>
							</div>
						</div>
					</div>
				</div>
				<div id="page"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{/assets/js/bootstrap-datetimepicker.js}"></script>
	<script type="text/javascript" th:inline="javascript">
			var z = 0;
			var vue = new Vue({
				el : "#main",
				data : {
					pageIf : {},
					no : "",
					pagesize : "10",
					storeid : "",
					shappingname : "",
					user : {}
				},
				methods : {
					code : function(){
						vue.pageIf.pageNum = "1";
						query();
					},
					
					openModel : function(code){
						
						$("iframe").attr("src",[[@{/orderModel/queryIndex}]]+"?code="+code);
						
						$("#myModalLabel").find("span").text(code);
						
						$(".modal").modal("show");
						
					}
				},
				watch : {
				}
			});
			vue.user = JSON.parse(localStorage.getItem("user"));
			
			function time(th){
				if(z == 0){
					z++;
				}else{
					vue.pageIf.pageNum = "1";
					query();
				}
			}
			
			function  floatPage(){
				
				vue.pageIf.pageNum = $(".currentPage").text();
				
				query();
				
			}
			
			function check(){
				
				query();
			}
			
			function query(){
				var times = $("#config-demo").val();
				
				var time = times.substring(0,(times.indexOf('至')-1));
				
				var endTime = times.substring((times.indexOf('至')+2),times.length) + " 23:59:59"

				var kucun;
				
				if($("#check").prop("checked")){
					kucun = 2;
				}
				
				$.ajax({
					url : [[@{/orderQueryController/query}]],
					data : {
						code : vue.no,
						pageSize : vue.pagesize,
						shappingname : vue.shappingname,
						time : time,
						kucun : kucun,
						endTime : endTime,
						order : $(".order").attr("data"),
						currentPage : vue.pageIf.pageNum,
						storeid : vue.user.storeid
					},
					type : "post",
					dataType : "json",
					success:function(result){
						vue.pageIf = result;
						 $("#page").append(page(vue.pageIf.pageNum,vue.pageIf.prePage,vue.pageIf.nextPage,vue.pageIf.pages));
							
						 
						 $(document).on("click",".pageFy>ul li",function(){
							 var create = $(this).attr("pageNumber");
							 if(create != null && create != 0){
								 
								 queryGoods(create,[],0);
								 $("#page").append(page(vue.pageIf.pageNum,vue.pageIf.prePage,vue.pageIf.nextPage,vue.pageIf.pages));
									
							 }
						 });
					}
				});
			}
			
			$(function() {
				myDate();
				query();
				$(window).resize(function() {

					var width = parseInt($(window).width());

					if(width >= 768) {

						$("#options").slideUp();

					}

				});
				$(".xsoptions").click(function() {
					if($("#options").css("display") == "none") {
						$("#options").slideDown();
						$(this).find("span").removeClass("glyphicon-triangle-bottom");
						$(this).find("span").addClass("glyphicon-triangle-top");
					} else {
						$("#options").slideUp();
						$(this).find("span").addClass("glyphicon-triangle-bottom");
						$(this).find("span").removeClass("glyphicon-triangle-top");
					}
				});
				$(".well>li").click(function() {

					var data = $(this).attr("data");

					$(".selected>div:not(.xsoptions)").addClass("display");
					$(".selected>div:not(.xsoptions)").removeClass("displayBlock");
					$(".selected>div:eq(" + data + ")").addClass("displayBlock");

					$("#options").slideUp();
					$(".xsoptions").find("span").addClass("glyphicon-triangle-bottom");
					$(".xsoptions").find("span").removeClass("glyphicon-triangle-top");
				});

				$(".order").click(function() {
					
					if($(this).find("span").attr("class").indexOf("glyphicon-triangle-bottom") != -1) {
						$(this).find("span").removeClass("glyphicon-triangle-bottom");
						$(this).find("span").addClass("glyphicon-triangle-top");
						$(this).attr("data","1");
					} else {
						$(this).find("span").addClass("glyphicon-triangle-bottom");
						$(this).find("span").removeClass("glyphicon-triangle-top");
						$(this).attr("data","0");
					}
					query();
				});
				$("#insertOk").click(function(){
					var iframe = $("iframe").contents();
					
					var shappingBody = iframe.find("#shappingTbody")
					
					var stock = {
							code : $("#myModalLabel").find("span").text(),
							stockdetails : [],
							id : shappingBody.attr("data"),
							sid : shappingBody.attr("cid"),
							column1 : shappingBody.attr("price"),
						};
						
						$(shappingBody.find("tr")).each(function(i,e){
							var shuliang = parseInt($(e).find(".shiliang").val());
							stockdetail = {
									id : $(e).find(".id").attr("data"),
									count : $(e).find("input").val(),
									scount :  $(e).find("input").attr("data")
							}
							stock.stockdetails.push(stockdetail);
							
						});
					$.ajax({
						
						url : [[@{/insertOrder/uploadInsertOrder}]],
						
						data : JSON.stringify(stock),
						
						type : "post",
						
						dataType : "json",
						
						contentType : "application/json; charset=UTF-8",
						
						processData: false,
						
						success : function(result){
							
							alerts("修改成功")
							
						}
						
					});
					
				});
			});
			
		function alerts(str){
				
				toastr.options.timeOut = "false"
				
				toastr.options.closeButton = true;
				
				toastr['info']
						(str);
				
				$positionClass = 'toast-top-center';
				
				toastr.remove();
				
				$context="info";
				
				toastr[$context](str, '', {
					
					positionClass : $positionClass
					
				});
				
				setTimeout(function(){
					$("#toast-container").fadeOut(1000);
				},4000)
			}
			
			
		</script>
</body>
</html>