<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta charset="utf-8" />
<title>订单页面</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/assets/css/myStyle.css}" />
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/assets/css/daterangepicker.css}" />
<link rel="stylesheet" th:href="@{/assets/css/toastr.css}">
<script type="text/javascript"
	th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/moment.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/Mydate.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/page.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/toastr.min.js}"></script>
<style type="text/css">
.selected>div {
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.content {
	overflow-x: auto;
	padding-top: 15px;
}

.datetimepicker {
	margin: 0px;
}

.pagebtn {
	height: 28px;
	width: 25px;
	border: 1px solid #C0C0C0;
	list-style: none;
	text-align: center;
	background: #DDDDDD;
	line-height: 28px;
	cursor: pointer;
}

#page>ul {
	display: flex;
	justify-content: space-around;
	padding: 0px;
	font-size: 12px;
}

#page {
	width: 300px;
	margin: 20px auto;
}

.currentPage {
	background: rgb(2, 143, 208);
	color: white;
	border: none;
}

.table>tbody>tr {
	cursor: pointer;
}

.table>tbody>tr>td {
	white-space: nowrap;
	padding: 8px 20px;
}

.table>thead>tr>th {
	white-space: nowrap;
	padding: 8px 20px;
}

.xsoptions {
	display: none;
}

#options {
	display: none;
}

.display {
	display: block;
}

.boss, .tj {
	margin-bottom: 0px;
}

.glyphicon {
	color: rgb(2, 143, 208);
}

.page-title {
	font-weight: bold;
	color: rgb(2, 143, 208);
	letter-spacing: 5px;
}

.tj span {
	background: rgb(2, 143, 208);
	border-color: rgb(2, 143, 208);
	color: white;
}

@media ( max-width : 767px) {
	.xsoptions {
		display: block;
		line-height: 30px;
		margin-left: -15px;
	}
	.display {
		display: none;
	}
	.displayBlock {
		display: block;
	}
}

.orderOver {
	color: red;
	margin-right: 10px;
	font-size: 12px;
	padding: 0px 3px;
	border-radius: 15%;
	border: 1px solid red;
}

#alertOk {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: 99 !important;
	background: #6f606040;
	left: 0px;
	display: none;
}

#config {
	width: 45%;
	height: 400px;
	background: white;
	position: relative;
	top: 20%;
	margin: auto;
}

input::-webkit-input-placeholder { /* WebKit browsers */
	font-size: 14px;
}

#bottom {
	position: absolute;
	bottom: 0px;
	height: 70px;
	width: 100%;
	background: white;
}

.configOk {
	width: 80px;
	height: 40px;
	background: #1796abd1;
	cursor: pointer;
	color: white;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	float: right;
	margin-right: 20px;
	color: white;
}

.toast-top-right {
	right: 50%;
	top: 10%;
}

.toast-top-center {
	top: 5%;
}

#toast-container {
	position: fixed;
}
</style>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="container-fluid" id="main" style="background: white;">
				<div class="panel-heading">
					<h3 class="panel-title">报表 - 1</h3>
					<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
				</div>
				<div class="selected row boss">
					<div class="col-md-3 col-sm-6 col-xs-11 tj">
						<div class="input-group">
							<span class="input-group-addon">编号</span> <input
								@keyup.enter="code" v-model="no" id="no" class="form-control"
								placeholder="订单编号" />
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-11 tj">
						<div class="input-group">
							<span class="input-group-addon">商品名称</span> <input
								@keyup.enter="code" v-model="shappingname"  class="form-control"
								placeholder="订单编号" />
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-11 display tj">
						<div class="input-group">
							<span class="input-group-addon">订单状态</span> <select
								onchange="time(this)" class="form-control"
								id="salesOrderProgress"
								style="border-right: none; height: 100%;">
								<option value="">全部</option>
								<option value="0">创建</option>
								<option value="1">执行中</option>
								<option value="2">完成</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-11 display tj">
						<div class="input-group">
							<span class="input-group-addon">Time</span> <input
								class="form-control" onchange="time(this)" id="config-demo"
								style="border: none; border-right: 1px solid #ddd; border-radius: 0px;"
								placeholder="开始时间" />
						</div>
					</div>
					<div class="col-md-2 col-sm-12 col-xs-11 display tj">
						<div class="input-group">
							<span class="input-group-addon">客户类型</span> <select
								onchange="time(this)" class="form-control" id="cid"
								style="border-right: none; height: 100%;">
								<option value="">全部</option>
								<option value="1">零售客户</option>
								<option value="11">vip</option>
							</select>
						</div>
					</div>
					<div class="col-xs-1 xsoptions">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</div>
				</div>
				<div id="options">
					<ul class="list-group well">
						<li class="list-group-item" data="0">订单查询</li>
						<li class="list-group-item" data="1">排序And条数</li>
					</ul>
				</div>
				<div class="content text-center">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="text-align: center;">订单编号</th>
								<th style="text-align: center;">数量</th>
								<th style="text-align: center;">时间</th>
								<th style="text-align: center;">应付金额</th>
								<th style="text-align: center;">定金</th>
								<th style="text-align: center;">实付金额</th>
								<th style="text-align: center;">客户名称</th>
								<th style="text-align: center;">支付类型</th>
								<th style="text-align: center;">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="item in pageIf.list">
								<td style="display: flex">
									<div v-if="item.progress == 2" class="orderOver">已完成</div>
									<div v-if="item.progress == 1" class="orderOver">执行中</div>
									{{item.code}}
								</td>
								<td>{{item.count}}</td>
								<td>{{item.updatetime}}</td>
								<td>{{item.paymoney}}</td>
								<td>{{item.preprice}}</td>
								<td>{{item.tainmoney}}</td>
								<td>{{item.column3}}</td>
								<td>{{item.column2}}</td>
								<td>
									<div :data="item.id" style="display: flex;">
										<span style="margin: auto;" title="修改"
											v-on:click="openModel(item.id)"
											class="glyphicon glyphicon-edit"></span> <span
											v-on:click="showAlert(item.id)" style="margin: auto;"
											v-if="item.progress != 2" title="确认订单"
											class="glyphicon glyphicon-ok"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal fade bs-example-modal-lg" tabindex="-1"
					role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">
									订单详情&nbsp;&nbsp;<span></span>
								</h4>
							</div>
							<div class="modal-body">
								<iframe width="100%"
									style="border: none; overflow-x: auto; min-height: 60vh"></iframe>
							</div>
							<div class="modal-footer">
								<span style="font-size: 13px; color: #DDDDDD;">点击数量可修改</span>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"
									v-on:click="updateSalesOrder" data-dismiss="modal">确定</button>
							</div>
						</div>
					</div>
				</div>
				<div id="page"></div>
				<div id="alertOk">
					<div id="config">
						<h3 style="line-height: 60px; text-indent: 1em;">确认订单</h3>
						<div class="row" style="line-height: 50px">
							<div class="col-xs-4" style="text-align: right;">
								<span>应付金额 :&nbsp;</span>
							</div>
							<div class="col-xs-6">
								￥<span style="color: red; margin-left: 18px; font-size: 20px">{{salesorder.paymoney}}</span>
							</div>
						</div>
						<div class="row" style="line-height: 50px">
							<div class="col-xs-4" style="text-align: right;">
								<span>定金 :&nbsp; </span>
							</div>
							<div class="col-xs-6">
								￥<span style="color: red; margin-left: 18px; font-size: 20px">{{salesorder.preprice}}</span>
							</div>
						</div>
						<div class="row" style="line-height: 50px">
							<div class="col-xs-4" style="text-align: right;">
								<span>实付金额 :&nbsp; </span>
							</div>
							<div class="col-xs-6">
								￥<input
									style="color: red; border: none; font-size: 20px; text-indent: 1em; outline: none;"
									type="text" :value="salesorder.tainmoney" id="spriceOrder"
									placeholder="请输入">
							</div>
						</div>
						<div id="bottom">
							<div class="configOk" :data="salesorder.cid">确定订单</div>
							<div class="configOk">取消</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{/assets/js/bootstrap-datetimepicker.js}"></script>
	<script type="text/javascript" th:inline="javascript">
			var z = 0;
			var vue = new Vue({
				el : "#main",
				data : {
					pageIf : {},
					no : "",
					pagesize : "1",
					storeid : "",
					salesorder : {},
					shappingname : "",
					user : {}
				},
				methods : {
					code : function(){
						vue.pageIf.pageNum = "1";
						query();
					},
					openModel : function(id){
						$("iframe").attr("src",[[@{/orderModel/salesOrderDetails}]]+"?id="+id);
						
						$("#myModalLabel").find("span").text(id);
						
						$(".modal").modal("show");
						
					},
					showAlert : function (id){
						
						$.ajax({
						    
						    url : [[@{/orderQueryController/salesOrderById}]],

						    data : {
								id : id
						    },

						    type : "post",

						    dataType : "json",
						    
						    success:function(result){
						    	vue.salesorder = result;
						    
						    }
						})
						
						$("#alertOk").show();
						
					},
					updateSalesOrder : function(){
						
						var iframe = $("iframe").contents();
						
						var shappingBody = iframe.find("#shappingTbody");
						
						var salesOrder = {
								id : $("#myModalLabel").find("span").text(),
								list1 : []
								
						};
						
						$(shappingBody.find("tr")).each(function(i,e){
							var salesOrderDetails = {
									id : $(e).find(".salesOrderId").attr("data"),
									count : $(e).find("input").val(),
							}
							
							salesOrder.list1.push(salesOrderDetails);
						});
						
						$.ajax({
						    
						    url : [[@{/insertOrder/updateSalesOrder}]],

						    data : JSON.stringify(salesOrder),

						    type : "post",

						    dataType : "json",
						    
						   	contentType : "application/json; charset=UTF-8",							
						    processData: false,
						    
						    success:function(result){
								alerts("修改成功")
						    }
						})
						
					}
				},
				watch : {
					
				}
			});
			
			vue.user =  JSON.parse(localStorage.getItem("user"))
			
			function time(th){
				if(z == 0){
					z++;
				}else{
					vue.pageIf.pageNum = "1";
					query();
				}
			}
			
			function  floatPage(){
				
				vue.pageIf.pageNum = $(".currentPage").text();
				query();
				
			}
			
			function query(){
				
				var times = $("#config-demo").val();
				
				var time = times.substring(0,(times.indexOf('至')-1));
				
				var endTime = times.substring((times.indexOf('至')+2),times.length) + " 23:59:59"
				
				var sales = {
						code : vue.no,
						column1 : time,
						column2 : endTime,
						column3 : vue.shappingname,
						progress : $("#salesOrderProgress").val(),
						cid : $("#cid").val(),
						column5 : vue.pageIf.pageNum,
						storeid : vue.user.storeid
				}
				
				$.ajax({
					url : [[@{/orderQueryController/querySalesOrder}]],
					data : sales,
					type : "post",
					dataType : "json",
					success:function(result){
						vue.pageIf = result;
						page(vue);
					}
				});
			}
			function timess(time){
				
				time = time.substring(6,time.length)+"-"+time.substring(0,2)+"-"+time.substring(3,5);
				
				return time;
			}
			
			$(function() {
				query();
				myDate();
				$(window).resize(function() {

					var width = parseInt($(window).width());

					if(width >= 768) {

						$("#options").slideUp();

					}

				});
				$(".xsoptions").click(function() {
					if($("#options").css("display") == "none") {
						$("#options").slideDown();
						$(this).find("span").removeClass("glyphicon-triangle-bottom");
						$(this).find("span").addClass("glyphicon-triangle-top");
					} else {
						$("#options").slideUp();
						$(this).find("span").addClass("glyphicon-triangle-bottom");
						$(this).find("span").removeClass("glyphicon-triangle-top");
					}
				});
				$(".well>li").click(function() {

					var data = $(this).attr("data");

					$(".selected>div:not(.xsoptions)").addClass("display");
					$(".selected>div:not(.xsoptions)").removeClass("displayBlock");
					$(".selected>div:eq(" + data + ")").addClass("displayBlock");

					$("#options").slideUp();
					$(".xsoptions").find("span").addClass("glyphicon-triangle-bottom");
					$(".xsoptions").find("span").removeClass("glyphicon-triangle-top");
				});
				$(".configOk").click(function(){
					if($(this).text() != "取消"){
						
						if($(this).attr("data") == 1){
							if($("#spriceOrder").val() <= vue.salesorder.paymoney){
								
								alerts("金额不足");
								
								return;
								
							}
							
						}
						vue.salesorder.uid = vue.user.uid;
						vue.salesorder.storeid = vue.user.storeid;
						$.ajax({
						    
						    url : [[@{/insertOrder/insertOrderOut}]],

						    data :JSON.stringify(vue.salesorder),

						    type : "post",

						    dataType : "json",
						    
						    contentType : "application/json; charset=UTF-8",							
						    processData: false, 
						    
						    success:function(result){
						    	if(result == false){
						    		
						    		alerts("库存不足!")
						    		
						    	}
						    	else{
						    		alerts("订单已确认")
						    	}
						    	
						    }
						});
						
					}
					$("#alertOk").hide();
					
				});
				
			});
			
			function alerts(str){
				
				toastr.options.timeOut = "false"
				
				toastr.options.closeButton = true;
				
				toastr['info']
						(str);
				
				$positionClass = 'toast-top-center';
				
				toastr.remove();
				
				$context="info";
				
				toastr[$context](str, '', {
					
					positionClass : $positionClass
					
				});
				
				setTimeout(function(){
					$("#toast-container").fadeOut(1000);
				},4000)
			}
			
		</script>
</body>
</html>