			*{
				box-sizing: border-box;
				transition: all .5s;
			}
			.ct-chart{
				height: 360px;
				width: 100%;
			}
			.goods{
				height: 130px;
				overflow: hidden;
				padding: 5px;
				margin-top: 5px;
			}
			.good{
				width: 100%;
				height: 100%;
				border: .5px solid #C1E2B3;
			}
			.goodsImg{
				height: 100%;
				padding: 10px;
				border-right: .3px solid #C1E2B3;
			}
			.good:hover{
				border: .5px solid rgb(2, 143, 208);
			}
			.good:hover .goodsImg{
				border-right: .3px solid rgb(2, 143, 208);
			}
			.goods .js{
				font-size: 1em;
			}
			.js h3{
				white-space: nowrap;  /*寮哄埗span涓嶆崲琛�*/
		      	display: inline-block;  /*灏唖pan褰撳仛鍧楃骇鍏冪礌瀵瑰緟*/
		      	width: 100%;  /*闄愬埗瀹藉害*/
		      	overflow: hidden;  /*瓒呭嚭瀹藉害閮ㄥ垎闅愯棌*/
		      	text-overflow: ellipsis;  /*瓒呭嚭閮ㄥ垎浠ョ偣鍙蜂唬鏇�*/
		     	line-height: 1.2;  /*鏁板瓧涓庝箣鍓嶇殑鏂囧瓧瀵归綈*/
			}
			.s{
				white-space: nowrap;
				line-height: 20px;
			}
			.s b{
				color:#00AA00;	
				margin-left:3px;
			}
			.js .s:nth-of-type(2){
				margin-left: 10px;
			}
			.panel-title{
				border-left: 3px solid rgb(2, 143, 208);
				padding-left: 10px;
			}
			.metric:hover{
				border-radius: 0px;
				border: 1px solid #FFFFFF;
				box-shadow: 0px 0px 10px #cfcfcf;
			}
			.metric:hover p{
				color: rgb(2, 143, 208);
			}
			#rangedate{
				text-align: center;
				outline: none;
				font-size: 20px;
			}
			.show{
				width: 50%;
				margin:0 auto;
			}
			.boss{
				margin-bottom: 45px;
			}
			.table{
				margin-top: 30px;
			}
			.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
				border-top: 1px solid rgb(2, 143, 208);
			}
			.table>thead>tr>th{
				border-bottom: 2px solid rgb(2, 143, 208);
			}
			.float{
				position: fixed;
				bottom: 0px;
				width: 100%;
				height: 45px;
				background: rgb(2, 143, 208);
			}
			.float span{
				text-align: center;
				line-height: 45px;
				color: #F0EFEE;
			}
			.tj{
				margin-bottom: 30px;
			}
			.tj span{
				padding: 5px;
				text-align: center;
				font-weight: bold;
				color: rgb(2, 143, 208);
			}
			.tj input,select{
				padding: 5px;
				border: .5px solid rgb(2, 143, 208);
				color: rgb(2, 143, 208);
				border-radius: 2px;
			}
			.top1{
				position: absolute;
				height: 80px;
				width: 80px;
				top: 18px;
				right: 10px;
			}
			.gs:nth-child(1) .good{
				border: 2px solid #FFE060;
				color: #FFE060;
			}
			.gs:nth-of-type(2) .good{
				border: 2px solid #DFE0E1;
			}
			.gs:nth-of-type(3) .good{
				border: 1px solid #E59101;
				color: #E59101;
			}
			.good label{
				width: 60px;
				height: 100%;
				float: left;
				text-align: center;
				line-height: 120px;
				color: rgb(2, 143, 208);
			}
			.gs:nth-child(1) .good label{
				color: #FFE060;
			}
			.gs:nth-child(3) .good label{
				color: #E59101;
			}
			.guige{
				font-size:14px;
			}
