<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imsystem.mapper.GoodsvalueMapper">
	<resultMap id="BaseResultMap"
		type="com.imsystem.domain.Goodsvalue">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="gid" property="gid" jdbcType="VARCHAR" />
		<result column="jprice" property="jprice" jdbcType="DOUBLE" />
		<result column="time" property="time" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime"
			jdbcType="TIMESTAMP" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="defaultvalue" property="defaultvalue"
			jdbcType="INTEGER" />
		<result column="enname" property="enname" jdbcType="VARCHAR" />
		<result column="column1" property="column1" jdbcType="VARCHAR" />
		<result column="column2" property="column2" jdbcType="VARCHAR" />
		<result column="column3" property="column3" jdbcType="VARCHAR" />
		<result column="column4" property="column4" jdbcType="VARCHAR" />
		<result column="column5" property="column5" jdbcType="VARCHAR" />
	</resultMap>


	<resultMap type="com.imsystem.domain.GoodsDetailVo"
		id="goodsDetailsVo">

		<association property="goods"
			javaType="com.imsystem.domain.Goods">
			<id column="gsid" property="id" jdbcType="VARCHAR" />
			<result column="gsname" property="name" jdbcType="VARCHAR" />
			<result column="gsdetail" property="detail" jdbcType="VARCHAR" />
			<result column="gsimg" property="img" jdbcType="LONGVARBINARY" />

		 <!-- 	<collection property="imgs"
				ofType="com.imsystem.domain.Img" column="gsid" select="queryimg">
				<id column="imid" property="id" jdbcType="VARCHAR" />
				<result column="imurl" property="url" jdbcType="VARCHAR" />
			</collection>  -->

		</association>

		<association property="goodsvalue"
			javaType="com.imsystem.domain.Goodsvalue">
			<id column="gvid" property="id" jdbcType="VARCHAR" />
			<result column="gvname" property="name" jdbcType="VARCHAR" />
			<result column="gvgid" property="gid" jdbcType="VARCHAR" />
			<result column="gvcolumn1" property="column1"
				jdbcType="VARCHAR" />
			<result column="gvjprice" property="jprice" jdbcType="DOUBLE" />

			<!--  <collection property="goodsPrices"
				ofType="com.imsystem.domain.Goodsprice" column="gvid"
				select="querygoodsprice">
				<id column="gpid" property="id" jdbcType="VARCHAR" />
				<result column="gpsufname" property="sufname"
					jdbcType="VARCHAR" />
				<result column="gpprice" property="price" jdbcType="DOUBLE" />
				<result column="gpgvid" property="gvid" jdbcType="VARCHAR" />
			</collection>  -->

		</association>

		<association property="stockdetails"
			javaType="com.imsystem.domain.Stockdetails">
			<id column="sdid" property="id" jdbcType="VARCHAR" />
			<result column="sdgvid" property="gvid" jdbcType="VARCHAR" />
			<result column="sdcount" property="count" jdbcType="INTEGER" />
		</association>


	<!-- 	<collection property="goodsprice"
			ofType="com.imsystem.domain.Goodsprice" >
			<id column="gpid" property="id" jdbcType="VARCHAR" />
			<result column="gpsufname" property="sufname"
				jdbcType="VARCHAR" />
			<result column="gpprice" property="price" jdbcType="DOUBLE" />
			<result column="gpgvid" property="gvid" jdbcType="VARCHAR" />
		</collection>

		<collection property="img"
			ofType="com.imsystem.domain.Img" >
			<id column="imid" property="id" jdbcType="VARCHAR" />
			<result column="imurl" property="url" jdbcType="VARCHAR" />
		</collection> -->



	</resultMap>




	<select id="queryGoodsDetail" resultMap="goodsDetailsVo">


		
		<!-- SELECT gs.`id` AS gsid,gs.`detail` AS gsdetail,gs.`name` AS gsname,gs.`img` AS gsimg,
		gv.id AS gvid,gv.`name` AS gvname,gv.`gid` AS gvgid,gv.column1 AS gvcolumn1,
		sd.id AS sdid,sd.`gvid` AS sdgvid,sd.`count` AS sdcount,
		im.id AS imid,im.url AS imurl,
		gp.id AS gpid,gp.sufname AS gpsufname,gp.price AS gpprice,gp.gvid AS gpgvid 
		FROM `goods` AS gs 
		INNER JOIN `goodsvalue` AS gv ON gs.`id` = gv.`gid` 
		INNER JOIN img AS im ON im.`gid` = gs.`id` 
		INNER JOIN `goodsprice` AS gp ON gp.gvid = gv.`id` 
		INNER JOIN `stockdetails` AS sd ON gv.`id` = sd.`gvid` 
		WHERE gv.`id` = #{id}
		GROUP BY im.id -->
		


		SELECT gs.`id` AS
		gsid,gs.`detail` AS gsdetail,gs.`name` AS gsname,gs.`img` AS gsimg,
		gv.id AS gvid,gv.`name` AS gvname,gv.`gid` AS gvgid,gv.column1 AS
		gvcolumn1,gv.jprice as gvjprice,
		sd.id AS sdid,sd.`gvid` AS sdgvid,sd.`count` AS sdcount
		FROM
		`goods` AS gs
		INNER JOIN `goodsvalue` AS gv ON gs.`id` = gv.`gid`
		INNER JOIN `stockdetails` AS sd ON gv.`id` = sd.`gvid`
		WHERE gv.`id` = #{id} 

	</select>


	<!-- <select id="queryimg" resultMap="goodsDetailsVo">

		SELECT im.id AS 'imid',im.url AS 'imurl' FROM img AS im 
		WHERE im.`gid` = #{id}

	</select>


	<select id="querygoodsprice" resultMap="goodsDetailsVo">

		SELECT gp.id AS 'gpid',gp.sufname AS 'gpsufname',gp.price AS 'gpprice',gp.gvid AS
		'gpgvid' FROM `goodsprice` AS gp 
		WHERE gp.`gvid` = #{id}

	</select> -->


	<!-- 商品模糊查询 -->
	<select id="queryByCode" resultMap="BaseResultMap">
		SELECT g.id AS id,g.name AS `name`,g.id AS gid,sd.time AS TIME,gv.gid
		AS gvid,sd.sid AS sid, gv.name AS column1,g.img AS
		column2,SUM(sd.price*sd.count) AS jprice,SUM(sd.count) AS column3 FROM
		salesdetails AS sd JOIN goodsvalue AS gv ON sd.gvid = gv.id JOIN goods
		AS g ON g.id = gv.gid WHERE sd.state = '0'
		<if test="code != null and code != ''">
			AND sd.sid = #{code}
		</if>
		GROUP BY DATE_FORMAT(sd.TIME,'%Y-%m-%d')
	</select>
	<select id="queryGoodsByTime" resultMap="BaseResultMap">
		SELECT g.id AS id,g.name AS `name`,g.id AS gid,sd.time AS TIME,gv.gid
		AS gvid,sd.sid AS sid, gv.name AS column1,g.img AS
		column2,SUM(sd.price*sd.count) AS jprice,SUM(sd.count) AS column3 FROM
		salesdetails AS sd JOIN goodsvalue AS gv ON sd.gvid = gv.id JOIN goods
		AS g ON g.id = gv.gid WHERE sd.state = '0'
		<if
			test="time != null and time != '' and startTime == null || startTime == ''">
			AND DATE_FORMAT(sd.TIME,'%Y-%m')= #{time}
		</if>
		<if
			test="startTime != null and startTime !='' and endTime != '' and endTime != null">
			and sd.TIME >= DATE_FORMAT(#{startTime},'%Y-%m-%d 00:00:00') AND
			sd.TIME
			&lt;= DATE_FORMAT(#{endTime},'%Y-%m-%d 23:59:59')
		</if>
		<if test="storeId != null and storeId != ''">
			and sd.storeid = #{storeId}
		</if>
		GROUP BY gv.gid ORDER BY gv.jprice DESC

	</select>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, name, gid, jprice, time, updatetime, uid, state,
		defaultvalue,
		enname, column1,
		column2, column3, column4, column5
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.imsystem.domain.GoodsvalueExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from goodsvalue
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from goodsvalue
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		goodsvalue
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.imsystem.domain.GoodsvalueExample">
		delete from goodsvalue
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.imsystem.domain.Goodsvalue">
		insert into goodsvalue (id, name, gid,
		jprice, time,
		updatetime,
		uid, state, defaultvalue,
		enname, column1, column2,
		column3,
		column4, column5
		)
		values (#{id,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{gid,jdbcType=VARCHAR},
		#{jprice,jdbcType=DOUBLE}, #{time,jdbcType=TIMESTAMP},
		#{updatetime,jdbcType=TIMESTAMP},
		#{uid,jdbcType=VARCHAR},
		#{state,jdbcType=INTEGER},
		#{defaultvalue,jdbcType=INTEGER},
		#{enname,jdbcType=VARCHAR}, #{column1,jdbcType=VARCHAR},
		#{column2,jdbcType=VARCHAR},
		#{column3,jdbcType=VARCHAR},
		#{column4,jdbcType=VARCHAR},
		#{column5,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.imsystem.domain.Goodsvalue">
		insert into goodsvalue
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="gid != null">
				gid,
			</if>
			<if test="jprice != null">
				jprice,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="updatetime != null">
				updatetime,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="defaultvalue != null">
				defaultvalue,
			</if>
			<if test="enname != null">
				enname,
			</if>
			<if test="column1 != null">
				column1,
			</if>
			<if test="column2 != null">
				column2,
			</if>
			<if test="column3 != null">
				column3,
			</if>
			<if test="column4 != null">
				column4,
			</if>
			<if test="column5 != null">
				column5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="gid != null">
				#{gid,jdbcType=VARCHAR},
			</if>
			<if test="jprice != null">
				#{jprice,jdbcType=DOUBLE},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="defaultvalue != null">
				#{defaultvalue,jdbcType=INTEGER},
			</if>
			<if test="enname != null">
				#{enname,jdbcType=VARCHAR},
			</if>
			<if test="column1 != null">
				#{column1,jdbcType=VARCHAR},
			</if>
			<if test="column2 != null">
				#{column2,jdbcType=VARCHAR},
			</if>
			<if test="column3 != null">
				#{column3,jdbcType=VARCHAR},
			</if>
			<if test="column4 != null">
				#{column4,jdbcType=VARCHAR},
			</if>
			<if test="column5 != null">
				#{column5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.imsystem.domain.GoodsvalueExample"
		resultType="java.lang.Integer">
		select count(*) from goodsvalue
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update goodsvalue
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.gid != null">
				gid = #{record.gid,jdbcType=VARCHAR},
			</if>
			<if test="record.jprice != null">
				jprice = #{record.jprice,jdbcType=DOUBLE},
			</if>
			<if test="record.time != null">
				time = #{record.time,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updatetime != null">
				updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.uid != null">
				uid = #{record.uid,jdbcType=VARCHAR},
			</if>
			<if test="record.state != null">
				state = #{record.state,jdbcType=INTEGER},
			</if>
			<if test="record.defaultvalue != null">
				defaultvalue = #{record.defaultvalue,jdbcType=INTEGER},
			</if>
			<if test="record.enname != null">
				enname = #{record.enname,jdbcType=VARCHAR},
			</if>
			<if test="record.column1 != null">
				column1 = #{record.column1,jdbcType=VARCHAR},
			</if>
			<if test="record.column2 != null">
				column2 = #{record.column2,jdbcType=VARCHAR},
			</if>
			<if test="record.column3 != null">
				column3 = #{record.column3,jdbcType=VARCHAR},
			</if>
			<if test="record.column4 != null">
				column4 = #{record.column4,jdbcType=VARCHAR},
			</if>
			<if test="record.column5 != null">
				column5 = #{record.column5,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update goodsvalue
		set id = #{record.id,jdbcType=VARCHAR},
		name =
		#{record.name,jdbcType=VARCHAR},
		gid = #{record.gid,jdbcType=VARCHAR},
		jprice = #{record.jprice,jdbcType=DOUBLE},
		time =
		#{record.time,jdbcType=TIMESTAMP},
		updatetime =
		#{record.updatetime,jdbcType=TIMESTAMP},
		uid =
		#{record.uid,jdbcType=VARCHAR},
		state =
		#{record.state,jdbcType=INTEGER},
		defaultvalue =
		#{record.defaultvalue,jdbcType=INTEGER},
		enname =
		#{record.enname,jdbcType=VARCHAR},
		column1 =
		#{record.column1,jdbcType=VARCHAR},
		column2 =
		#{record.column2,jdbcType=VARCHAR},
		column3 =
		#{record.column3,jdbcType=VARCHAR},
		column4 =
		#{record.column4,jdbcType=VARCHAR},
		column5 =
		#{record.column5,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.imsystem.domain.Goodsvalue">
		update goodsvalue
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="gid != null">
				gid = #{gid,jdbcType=VARCHAR},
			</if>
			<if test="jprice != null">
				jprice = #{jprice,jdbcType=DOUBLE},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="defaultvalue != null">
				defaultvalue = #{defaultvalue,jdbcType=INTEGER},
			</if>
			<if test="enname != null">
				enname = #{enname,jdbcType=VARCHAR},
			</if>
			<if test="column1 != null">
				column1 = #{column1,jdbcType=VARCHAR},
			</if>
			<if test="column2 != null">
				column2 = #{column2,jdbcType=VARCHAR},
			</if>
			<if test="column3 != null">
				column3 = #{column3,jdbcType=VARCHAR},
			</if>
			<if test="column4 != null">
				column4 = #{column4,jdbcType=VARCHAR},
			</if>
			<if test="column5 != null">
				column5 = #{column5,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.imsystem.domain.Goodsvalue">
		update goodsvalue
		set name = #{name,jdbcType=VARCHAR},
		gid = #{gid,jdbcType=VARCHAR},
		jprice = #{jprice,jdbcType=DOUBLE},
		time
		= #{time,jdbcType=TIMESTAMP},
		updatetime =
		#{updatetime,jdbcType=TIMESTAMP},
		uid = #{uid,jdbcType=VARCHAR},
		state =
		#{state,jdbcType=INTEGER},
		defaultvalue =
		#{defaultvalue,jdbcType=INTEGER},
		enname = #{enname,jdbcType=VARCHAR},
		column1 = #{column1,jdbcType=VARCHAR},
		column2 =
		#{column2,jdbcType=VARCHAR},
		column3 = #{column3,jdbcType=VARCHAR},
		column4 = #{column4,jdbcType=VARCHAR},
		column5 =
		#{column5,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>