<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imsystem.mapper.QuotedpriceMapper" >
  <resultMap id="BaseResultMap" type="com.imsystem.domain.Quotedprice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="svid" property="svid" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="column1" property="column1" jdbcType="VARCHAR" />
    <result column="column2" property="column2" jdbcType="VARCHAR" />
    <result column="column3" property="column3" jdbcType="VARCHAR" />
    <result column="column4" property="column4" jdbcType="VARCHAR" />
    <result column="column5" property="column5" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="com.imsystem.domain.QuoteVO" id="quoteCustomer">
  	<association property="cobj" javaType="com.imsystem.domain.Customer">
  		<id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="img" property="img" jdbcType="LONGVARBINARY" />
	    <result column="telephonename" property="telephonename" jdbcType="VARCHAR" />
	    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
	    <result column="pname" property="pname" jdbcType="VARCHAR" />
	    <result column="cname" property="cname" jdbcType="VARCHAR" />
	    <result column="aname" property="aname" jdbcType="VARCHAR" />
	    <result column="address" property="address" jdbcType="VARCHAR" />
	    <result column="balance" property="balance" jdbcType="DOUBLE" />
	    <result column="initbalance" property="initbalance" jdbcType="DOUBLE" />
	    <result column="score" property="score" jdbcType="INTEGER" />
	    <result column="cid" property="cid" jdbcType="VARCHAR" />
	    <result column="lid" property="lid" jdbcType="VARCHAR" />
	    <result column="time" property="time" jdbcType="TIMESTAMP" />
	    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
	    <result column="uid" property="uid" jdbcType="VARCHAR" />
	    <result column="state" property="state" jdbcType="INTEGER" />
	    <result column="storeid" property="storeid" jdbcType="VARCHAR" />
	    <result column="column1" property="column1" jdbcType="VARCHAR" />
	    <result column="column2" property="column2" jdbcType="VARCHAR" />
	    <result column="column3" property="column3" jdbcType="VARCHAR" />
	    <result column="column4" property="column4" jdbcType="VARCHAR" />
	    <result column="column5" property="column5" jdbcType="VARCHAR" />
  	</association>
  	<association property="qpobj" javaType="com.imsystem.domain.Quotedprice">
  		<id column="qid" property="id" jdbcType="VARCHAR" />
	    <result column="qsvid" property="svid" jdbcType="VARCHAR" />
	    <result column="qcid" property="cid" jdbcType="VARCHAR" />
	    <result column="qprice" property="price" jdbcType="DOUBLE" />
	    <result column="qtime" property="time" jdbcType="TIMESTAMP" />
	    <result column="qupdatetime" property="updatetime" jdbcType="TIMESTAMP" />
	    <result column="qstate" property="state" jdbcType="INTEGER" />
	    <result column="quid" property="uid" jdbcType="VARCHAR" />
	    <result column="qcolumn1" property="column1" jdbcType="VARCHAR" />
	    <result column="qcolumn2" property="column2" jdbcType="VARCHAR" />
	    <result column="qcolumn3" property="column3" jdbcType="VARCHAR" />
	    <result column="qcolumn4" property="column4" jdbcType="VARCHAR" />
	    <result column="qcolumn5" property="column5" jdbcType="VARCHAR" />
  	</association>
  </resultMap>
  
  <resultMap type="com.imsystem.domain.QuoteVO" id="quoteGoods">
  	<association property="gvobj" javaType="com.imsystem.domain.Goodsvalue">
  		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="gid" property="gid" jdbcType="VARCHAR" />
		<result column="jprice" property="jprice" jdbcType="DOUBLE" />
		<result column="time" property="time" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="defaultvalue" property="defaultvalue" jdbcType="INTEGER" />
		<result column="enname" property="enname" jdbcType="VARCHAR" />
		<result column="column1" property="column1" jdbcType="VARCHAR" />
		<result column="column2" property="column2" jdbcType="VARCHAR" />
		<result column="column3" property="column3" jdbcType="VARCHAR" />
		<result column="column4" property="column4" jdbcType="VARCHAR" />
		<result column="column5" property="column5" jdbcType="VARCHAR" />
  	</association>
  	<association property="qpobj" javaType="com.imsystem.domain.Quotedprice">
  		<id column="qid" property="id" jdbcType="VARCHAR" />
	    <result column="qsvid" property="svid" jdbcType="VARCHAR" />
	    <result column="qcid" property="cid" jdbcType="VARCHAR" />
	    <result column="qprice" property="price" jdbcType="DOUBLE" />
	    <result column="qtime" property="time" jdbcType="TIMESTAMP" />
	    <result column="qupdatetime" property="updatetime" jdbcType="TIMESTAMP" />
	    <result column="qstate" property="state" jdbcType="INTEGER" />
	    <result column="quid" property="uid" jdbcType="VARCHAR" />
	    <result column="qcolumn1" property="column1" jdbcType="VARCHAR" />
	    <result column="qcolumn2" property="column2" jdbcType="VARCHAR" />
	    <result column="qcolumn3" property="column3" jdbcType="VARCHAR" />
	    <result column="qcolumn4" property="column4" jdbcType="VARCHAR" />
	    <result column="qcolumn5" property="column5" jdbcType="VARCHAR" />
  	</association>
  </resultMap>
  
  <select id="queryQuoteByPage" resultMap="BaseResultMap">
  	SELECT q.* FROM quotedprice q,customer c,goodsvalue g ,goods gs 
  	<where>
  		q.state=0 AND q.`cid`=c.`id` AND q.`svid`=g.`id` AND g.`gid`=gs.`id` 
  		<if test="cname!=null">
  			AND c.`name` LIKE CONCAT('%',#{cname},'%')  
  		</if>
  		<if test="gname!=null">
  			AND gs.`name` LIKE CONCAT('%',#{gname},'%')  
  		</if>
  	</where>
  	
  </select>
  
  <select id="queryQuoteByCustomerId" resultMap="BaseResultMap">
  	SELECT q.* FROM quotedprice q,customer c,goodsvalue g ,goods gs 
  	
  	WHERE q.state=0 AND q.`cid`=c.`id` AND q.`svid`=g.`id` AND g.`gid`=gs.`id` 
  		  	
  	AND c.`id`=#{cid}
  </select>
  
  <select id="queryQuoteByGoodsValueId" resultMap="BaseResultMap">
  	SELECT q.* FROM quotedprice q,customer c,goodsvalue g ,goods gs 
  	
  	WHERE q.state=0 AND q.`cid`=c.`id` AND q.`svid`=g.`id` AND g.`gid`=gs.`id` 
  		  	
  	AND g.`id`=#{gid}
  </select>
  
  <select id="selectGoodsById" resultType="com.imsystem.domain.Goods">
  	SELECT * FROM `goods` WHERE id=#{id}
  </select>
  
  <update id="updatePrice">
  	UPDATE quotedprice SET price=#{price} WHERE id=#{qid}
  </update>
  
  <update id="deleteQuote">
  	UPDATE quotedprice SET state=1 WHERE id=#{qid}
  </update>
  
  <update id="addUpdateQuote">
  	UPDATE quotedprice SET price=#{price},updatetime=#{time},uid=#{uid} WHERE id=#{qid}
  </update>
  
  <select id="queryQuoteCustomer" resultMap="quoteCustomer">
  	SELECT c.*,
 	q.`cid` AS qcid,q.`column1` AS qcolumn1,q.`column2` AS qcolumn2,q.`column3` AS qcolumn3,q.`column4` AS qcolumn4,q.`column5` AS qcolumn5,
 	q.`id` AS qid,q.`price` AS qprice,q.`state` AS qstate,q.`svid` AS qsvid,q.`time` AS qtime,q.`uid` AS quid,q.`updatetime` AS qupdatetime
	 FROM customer c 
	LEFT JOIN (SELECT * FROM quotedprice WHERE state=0 AND svid=#{gid}) q 
	ON c.`id`=q.`cid` 
	<where>
		c.`state`=0
  		<if test="name!=null">	  	
  			AND c.`name` LIKE CONCAT('%',#{name},'%')
  		</if>
	</where>
  </select>
  
  <select id="queryQuoteGoods" resultMap="quoteGoods">
  	SELECT g.*,
 	q.`cid` AS qcid,q.`column1` AS qcolumn1,q.`column2` AS qcolumn2,q.`column3` AS qcolumn3,q.`column4` AS qcolumn4,q.`column5` AS qcolumn5,
 	q.`id` AS qid,q.`price` AS qprice,q.`state` AS qstate,q.`svid` AS qsvid,q.`time` AS qtime,q.`uid` AS quid,q.`updatetime` AS qupdatetime
	FROM goods gs 
	INNER JOIN goodsvalue g
	ON gs.id=g.gid
	LEFT JOIN (SELECT * FROM quotedprice WHERE state=0 AND cid=#{cid}) q
	ON g.`id`=q.`svid` 
	<where>
  		<if test="name!=null">	  	
  			AND gs.`name` LIKE CONCAT('%',#{name},'%')
  		</if>
	</where>
  </select>
  
  <select id="queryGoodsPrice" resultType="com.imsystem.domain.Goodsprice">
  	SELECT * FROM `goodsprice` WHERE gvid=#{gvid}
  </select>
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, svid, cid, price, time, updatetime, state, uid, column1, column2, column3, column4, 
    column5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.imsystem.domain.QuotedpriceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from quotedprice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from quotedprice
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from quotedprice
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.imsystem.domain.QuotedpriceExample" >
    delete from quotedprice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imsystem.domain.Quotedprice" >
    insert into quotedprice (id, svid, cid, 
      price, time, updatetime, 
      state, uid, column1, 
      column2, column3, column4, 
      column5)
    values (#{id,jdbcType=VARCHAR}, #{svid,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{time,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{column1,jdbcType=VARCHAR}, 
      #{column2,jdbcType=VARCHAR}, #{column3,jdbcType=VARCHAR}, #{column4,jdbcType=VARCHAR}, 
      #{column5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.imsystem.domain.Quotedprice" >
    insert into quotedprice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="svid != null" >
        svid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="column1 != null" >
        column1,
      </if>
      <if test="column2 != null" >
        column2,
      </if>
      <if test="column3 != null" >
        column3,
      </if>
      <if test="column4 != null" >
        column4,
      </if>
      <if test="column5 != null" >
        column5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="svid != null" >
        #{svid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        #{column5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imsystem.domain.QuotedpriceExample" resultType="java.lang.Integer" >
    select count(*) from quotedprice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update quotedprice
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.svid != null" >
        svid = #{record.svid,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null" >
        cid = #{record.cid,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.column1 != null" >
        column1 = #{record.column1,jdbcType=VARCHAR},
      </if>
      <if test="record.column2 != null" >
        column2 = #{record.column2,jdbcType=VARCHAR},
      </if>
      <if test="record.column3 != null" >
        column3 = #{record.column3,jdbcType=VARCHAR},
      </if>
      <if test="record.column4 != null" >
        column4 = #{record.column4,jdbcType=VARCHAR},
      </if>
      <if test="record.column5 != null" >
        column5 = #{record.column5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update quotedprice
    set id = #{record.id,jdbcType=VARCHAR},
      svid = #{record.svid,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      time = #{record.time,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=VARCHAR},
      column1 = #{record.column1,jdbcType=VARCHAR},
      column2 = #{record.column2,jdbcType=VARCHAR},
      column3 = #{record.column3,jdbcType=VARCHAR},
      column4 = #{record.column4,jdbcType=VARCHAR},
      column5 = #{record.column5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imsystem.domain.Quotedprice" >
    update quotedprice
    <set >
      <if test="svid != null" >
        svid = #{svid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="column1 != null" >
        column1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        column2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        column3 = #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        column4 = #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        column5 = #{column5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imsystem.domain.Quotedprice" >
    update quotedprice
    set svid = #{svid,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      time = #{time,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      uid = #{uid,jdbcType=VARCHAR},
      column1 = #{column1,jdbcType=VARCHAR},
      column2 = #{column2,jdbcType=VARCHAR},
      column3 = #{column3,jdbcType=VARCHAR},
      column4 = #{column4,jdbcType=VARCHAR},
      column5 = #{column5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>