<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>BaoBiao - 1</title>
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<!-- MAIN CSS -->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}">
		<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
		<link rel="stylesheet" th:href="@{/assets/css/demo.css}">
		<!-- GOOGLE FONTS -->
		<link th:href="@{/assets/css/css.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}" />
		<!-- ICONS -->
		<link rel="stylesheet" th:href="@{/assets/css/myStyle.css}" />
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
		<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
		<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}" ></script>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/daterangepicker.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/htmleaf-demo.css}">
		<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}" ></script>
		<script>window.jQuery || document.write('<script th:src="@{/assets/js/jquery-1.11.0.min.js}"><\/script>')</script>
		<script type="text/javascript" th:src="@{/assets/js/moment.js}"></script>
      	<script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>
      	<script th:src="@{/assets/js/statistics.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/Mydate.js}"></script>
		<script>
			$(function(){
				myDate();
				$(".panel-subtitle").text("Period: "+$("#config-demo").val());
				$(window).resize(function(){
					var width = parseInt($(".good").width());
					var span = $(".js").children("span");
					if(width<540){
						span.next().css({"margin-left":"0px","line-height":"2px"});
					}else{
						span.next().css({"margin-left":"10px","line-height":"30px"});
					}
				});
				var startTime = getStartTime();
				var endTime = getEndTime();
				var top =  queryTop("","",startTime,endTime);
				$(".profit").text("￥"+top.column2);
				$(".SalesMoney").text("￥"+top.paymoney);
				$(".count").text(top.count);
				$(".first").text(top.column3);
			});
		</script>
	</head>
	<body>
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">报表 - 1</h3>
							<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
						</div>
						<div class="panel-body">
						<div class="row">
									<div class="col-md-3  animated bounceInDown delay-1s">
										<div class="metric">
											<span class="icon"><i class="fa fa-download"></i></span>
											<p>
												<span class="number profit">￥1,252</span>
												<span class="title">今日利润</span>
											</p>
										</div>
									</div>
									<div class="col-md-3  animated bounceInDown delay-1s">
										<div class="metric">
											<span class="icon"><i class="fa fa-shopping-bag"></i></span>
											<p>
												<span class="number SalesMoney">￥203</span>
												<span class="title">今日销售额</span>
											</p>
										</div>
									</div>
									<div class="col-md-3  animated bounceInDown delay-1s">
										<div class="metric">
											<span class="icon"><i class="fa fa-eye"></i></span>
											<p>
												<span class="number count">3</span>
												<span class="title">订单数量</span>
											</p>
										</div>
									</div>
									<div class="col-md-3 animated bounceInDown delay-1s">
										<div class="metric">
											<span class="icon"><i class="fa fa-bar-chart"></i></span>
											<p>
												<span class="number first"></span>
												<span class="title">店铺排名</span>
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div id="headline-chart" class="ct-chart" _echarts_instance_="ec_1552524890991" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;"><div style="position: relative; overflow: hidden; width: 724px; height: 350px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="905" height="437" style="position: absolute; left: 0px; top: 0px; width: 724px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div>
									</div>
									<div class="col-md-12">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											<input class="form-control"  type="text" id="config-demo">
										</div>
									</div>
								</div>
								<div class="row panel-heading">
									<h3 class="panel-title">报表商品</h3>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/assets/echarts/echarts/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/echarts/echarts-gl/echarts-gl.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/echarts/echarts-stat/ecStat.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/echarts/echarts/extension/dataTool.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/echarts/echarts/map/js/china.js}"></script>
    <script type="text/javascript" th:src="@{/assets/echarts/echarts/map/js/world.js}"></script>
    <script type="text/javascript" th:src="@{/assets/echarts/echarts/extension/bmap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/echarts/simplex.js}"></script>
	<script>
		var storeid = getStoreId();
		var startTime = "";
		var endTime = "";
		$(function(){
			var img2 = queryRanking("","",storeid);
			showView(img2);
			
			$(document).on(
					"change",
					"#config-demo",
					function() {
						if ($("#config-demo").val() != '请选择日期范围') {
							var time = $("#config-demo").val().split("至");
							startTime = time[0];
							endTime = time[1];
						}
						img2 = queryRanking(startTime,endTime,storeid);
						showView(img2);
					});
		});
		function showView(img2){
			var options = myChart.getOption();
			var name = [];
			var tedayMoney = [];
			var sumMoney = [];
			$(".panel-body > .g").remove();
			$(".panel-body > .t").remove();
			$(".panel-body > .notValue").remove();
			if(img2 != ''){
				$.each(img2,function(ss,obj){
					name.push(obj.column3+"["+obj.column4+"]");
					tedayMoney.push(obj.column5);
					sumMoney.push(obj.column2);
					var title = $("<div class='row panel-heading t'><p class='panel-subtitle'>Shop："+obj.column3+"【"+obj.column4+"】</p></div>");
					var g = $("<div class='row g'></div>");
					if(obj.list!= ''){
						$.each(obj.list,function(s,objs){
							var img = objs.column2 != null && objs.column2 != '' ? objs.column2 : "../assets/img/404.png";
							var goods = $("<div class='col-md-6 goods  animated bounceInDown delay-1s'><div class='good' gid='"+objs.id+"'><img class='col-md-3 col-xs-3 goodsImg' src='"+img+"' />"+
							"<div class='col-md-9 col-xs-8 js'>"+
								"<h3>"+objs.name+"<span class='guige'>["+objs.column1+"]</span></h3>"+
								"<span class='s'>销售金额￥<b>"+objs.jprice+"</b></span> <span class='s'>销售数量<b>"+objs.column3+"</b></span>"+
									"</div>"+
								"</div>"+
							"</div>");
							g.append(goods);
						});
					}else{
						g
						.append("<div class='col-md-12 goods animated bounceInLeft delay-1s notValue'><div class='good'><h3 style='text-align:center;line-height:70px;color:#C1E2B3;'>暂无数据~ ~</h3></div></div>");
					}
					$(".panel-body").append(title);
					$(".panel-body").append(g);
				});
			}else{
				$(".panel-body")
				.append("<div class='col-md-12 goods animated bounceInLeft delay-1s notValue'><div class='good'><h3 style='text-align:center;line-height:70px;color:#C1E2B3;'>暂无数据~ ~</h3></div></div>");
			}
			
			options.series[1].data=sumMoney;
			options.series[0].data=tedayMoney;
			options.yAxis[0].data = name;
			myChart.setOption(options);
		}
		/**
		 * 盈利亏损图
		 */
		var dom = document.getElementById("headline-chart");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;
		
		option = {
		    tooltip: {
		        trigger: 'axis',
		        axisPointer: {
		            type: 'shadow'
		        }
		    },
		    legend: {
		        data: ['本月销售额', '今日销售额']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    xAxis: {
		        type: 'value',
		        boundaryGap: [0, 0.01]
		    },
		    yAxis: {
		        type: 'category',
		        data: ['店铺一','店铺二','店铺三','店铺四','店铺五','店铺六']
		    },
		    series: [
		        {
		            name: '本月销售额',
		            type: 'bar',
		            data: [18203, 23489, 29034, 104970, 131744, 630230]
		        },
		        {
		            name: '今日销售额',
		            type: 'bar',
		            data: [19325, 23438, 31000, 121594, 134141, 681807]
		        }
		    ]
		};
		;
		if (option && typeof option === "object") {
		    myChart.setOption(option, true);
		    window.onresize = myChart.resize;
		}
	</script>
</html>
