<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta charset="UTF-8">
<title>BaoBiao - 1</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<!-- MAIN CSS -->
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link rel="stylesheet" th:href="@{/assets/css/demo.css}">
<!-- GOOGLE FONTS -->
<link th:href="@{/assets/css/css.css}" rel="stylesheet">
<!-- ICONS -->
<link rel="stylesheet" th:href="@{/assets/css/myStyle.css}" />
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}">
<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}" />
<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/assets/css/daterangepicker.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/htmleaf-demo.css}">
<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<script>
	window.jQuery
			|| document
					.write('<script th:src="@{/assets/js/jquery-1.11.0.min.js}"><\/script>')
</script>
<script type="text/javascript" th:src="@{/assets/js/moment.js}"></script>
<script th:src="@{/assets/js/vue.js}"></script>
<script th:src="@{/assets/js/pageNumber.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>
<script th:src="@{/assets/js/statistics.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/Mydate.js}"></script>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="container-fluid">
				<div class="panel panel-headline"  id="table">
					<div class="panel-heading">
						<h3 class="panel-title">应收对账单</h3>
						<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
					</div>
					<div class="panel-body boss">
						<div class="col-md-12 tj">
							<div class="col-md-6 col-xs-12">
								<span class="col-md-3 col-xs-12">选择区间</span> <input
									class="col-md-9 col-xs-12" type="text" id="config-demo">
							</div>
							<div class="col-md-6 col-xs-12">
								<span class="col-md-3 col-xs-12">选择客户</span> <select
									class="col-md-9 col-xs-12 customer">
									<option value="">全部</option>
									<option v-for="obj in customer" :value="obj.id">{{obj.name}}</option>
								</select>
							</div>
						</div>
						<div class="panel-body">
							<table class="table animated fadeInUp delay-1s">
								<thead>
									<tr>
										<th>往来单位</th>
										<th>增加</th>
										<th>收回</th>
										<th>期末应收</th>
										<th>时间</th>

									</tr>
								</thead>
								<tbody>
									<tr v-for="obj in page.list">
										<td>{{obj.column1}}</td>
										<td><span class="label label-success">￥{{obj.paymoney}}</span></td>
										<td><span class="label label-success">￥{{obj.tainmoney}}</span></td>
										<td><span class="label label-success">￥{{obj.paymoney
												- obj.tainmoney}}</span></td>
										<td>{{obj.time}}</td>
									</tr>
									<tr class="valueNull" v-if="page.list == ''">
										<td colspan="5">暂无数据</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="float">
		<span class="col-md-4">增加合计：￥<b id="chu">388</b></span> <span
			class="col-md-4">收回合计：￥<b id="yzf">388</b></span> <span
			class="col-md-4">期末合计：￥<b id="qm">388</b></span>
	</div>
	<script>
		var startTime = "";
		var endTime = "";
		var id = "";
		var sid = getStoreId() != "" ? getStoreId() : undefined;
		var vue = new Vue({
			el : "#table",
			data : {
				page : {},
				customer : []
			}
		});
		vue.page = queryShouZhang(null, null, null, null,sid);
		$(function() {
			myDate();
			$(".panel-subtitle").text("Period: "+$("#config-demo").val());
			$(document)
					.on(
							"change",
							"#config-demo",
							function() {
								if ($("#config-demo").val() != '请选择日期范围') {
									var time = $("#config-demo").val().split(
											"至");
									startTime = time[0];
									endTime = time[1];
								}
								vue.page = queryShouZhang(null, startTime,
										endTime, id,sid);
								$(".panel-headline").append(
										page(vue.page.pageNum,
												vue.page.prePage,
												vue.page.nextPage,
												vue.page.pages));
							});
			let chu = 0;
			let yzf = 0;
			let qm = 0;
			const qk = queryAllShouZhang(startTime, endTime, id,sid);
			$.each(qk, function(i, obj) {
				chu += parseFloat(obj.paymoney);
				yzf += parseFloat(obj.tainmoney);
				qm += parseFloat(obj.paymoney - obj.tainmoney);
			});
			$("#chu").text(chu);
			$("#yzf").text(yzf);
			$("#qm").text(qm);
			$(".panel-headline").append(
					page(vue.page.pageNum, vue.page.prePage, vue.page.nextPage,
							vue.page.pages));

			$(document)
					.on(
							"click",
							".pageFy>ul li",
							function() {
								var create = $(this).attr("pageNumber");
								if (create != null && create != 0) {
									vue.page = queryShouZhang(create,
											startTime, endTime, id,sid);
									$(".panel-headline").append(
											page(create, vue.page.prePage,
													vue.page.nextPage,
													vue.page.pages));
								}
							});
			$(".customer").change(function(){
				id = $(this).val();
				vue.page = queryShouZhang(null, startTime,
						endTime, id,sid);
				$(".panel-headline").append(
						page(vue.page.pageNum,
								vue.page.prePage,
								vue.page.nextPage,
								vue.page.pages));
			});
			vue.customer = queryCustomer(sid);
		});
	</script>
</body>

</html>