<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="UTF-8">
		<title>BaoBiao - 1</title>
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<link rel="stylesheet" th:href="@{/assets/css/chartist-custom.css}">
		<!-- MAIN CSS -->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}">
		<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
		<link rel="stylesheet" th:href="@{/assets/css/demo.css}">
		<!-- GOOGLE FONTS -->
		<link th:href="@{/assets/css/css.css}" rel="stylesheet">
		<!-- ICONS -->
		<link rel="stylesheet" th:href="@{/assets/css/myStyle.css}" />
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
		<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">
		<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}" ></script>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/daterangepicker.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/htmleaf-demo.css}">
		<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}" ></script>
		<script>window.jQuery || document.write('<script th:src="@{/assets/js/jquery-1.11.0.min.js}"><\/script>')</script>
		<script type="text/javascript" th:src="@{/assets/js/moment.js}"></script>
      	<script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/Mydate.js}"></script>
		
		<script>
			$(function(){
				myDate();
			});
		</script>
	</head>
	<body>
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">应收对账单</h3>
							<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
						</div>
						<div class="panel-body boss">
							<div class="col-md-12 tj">
								<div class="col-md-6 col-xs-12">
									<span class="col-md-3 col-xs-12">选择区间</span>
									<input class="col-md-9 col-xs-12"  type="text" id="config-demo">
								</div>
								<div class="col-md-6 col-xs-12">
									<span class="col-md-3 col-xs-12">选择客户</span>
									<select class="col-md-9 col-xs-12">
										<option value="cheese">Cheese</option>
										<option value="tomatoes">Tomatoes</option>
										<option value="mozarella">Mozzarella</option>
										<option value="mushrooms">Mushrooms</option>
										<option value="pepperoni">Pepperoni</option>
										<option value="onions">Onions</option>
									</select>
								</div>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
											<tr>
												<th>往来单位</th>
												<th>增加</th>
												<th>收回</th>
												<th>期末应收</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Steve</td>
												<td>Jobs</td>
												<td>Jobs</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="float">
			<span class="col-md-4">增加合计：<b>388</b></span>
			<span class="col-md-4">收回合计：￥<b>388</b></span>
			<span class="col-md-4">期末合计：￥<b>388</b></span>
		</div>
	</body>