<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>客户选择商品页面</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/assets/css/Animzte.css}" />
<link rel="stylesheet" th:href="@{/assets/css/typeDonghua.css}" />
<style>
.pagebtn {
	height: 28px;
	min-width: 25px;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	list-style: none;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}

#page>ul {
	display: flex;
	justify-content: space-around;
	padding: 0px;
	font-size: 12px;
}

#page {
	width: 300px;
	margin: 20px auto;
}

.currentPage {
	background: #1094ce;
	color: white;
	border: none;
}
/*上面是分页*/
.option-span-z, .option-span {
	margin: 0 10px;
}
</style>
<script type="text/javascript"
	th:src="@{/assets/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.color.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/pageNumber.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/typeDonghua.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vue.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>

</head>

<body>
<form action="" method="post" id="chooseGoods"></form>
<input type="hidden" id="cc" th:value="${customerChoose}"/>
<input type="hidden" id="cv" th:value="${customerName}"/>
<input type="hidden" id="gc" th:value="${goodsChoose}"/>
	<div class="main">
		<div class="main-content">
			<div class="container-fluid">
				<div class="panel panel-headline">
					<div class="panel-heading">
					</div>

					<!--小屏幕-->
					<div class="row" style="margin: 2vh 3vh;">

						<div class="row">

							<div class="col-xs-11 col-lg-12 col-md-12">
								<div class="input-group">
									<label class="input-group-addon"
										style="color: #FFFFFF; background-color: #337ab7;">搜索:</label>
									<input type="text" id="liketext" oninput='textlike(this)' class="form-control" placeholder="请输入关键字">

									<span class="input-group-btn lg-md-span">
										<button class="btn btn-primary" type="button">确 定</button>
									</span> <span class="input-group-btn lg-md-span">
										<button class="btn btn-primary" type="button">扫一扫</button>
									</span>
								</div>
							</div>

							<div class="col-xs-1">
								<div class="input-group">
									<span class="input-group-btn xs-span">
										<button class="btn btn-primary glyphicon glyphicon-list"></button>
									</span>
								</div>
							</div>

						</div>

					</div>

					<!--大，中屏幕的样式-->
					<div class="row visible-lg-block visible-md-block"
						style="margin: 0 3vh;">
						
							<div id="goodstype"></div>

							<div id="typeoption"></div>
						
					</div>

			
					<!--主体-->
					<div id="body"
						style="margin: 8vh 3vh 0 3vh; min-height: 60vh; ">

						<div class="row">

							<div v-for="(item,index) in pageIf.list" class="col-sm-6 col-md-3	">
								<div class="thumbnail" style="max-height: 50vh; min-height: 50vh;">
								
									<img v-if="item.goodsValue.column1 == null || item.goodsValue.column1==''" style="max-height: 20vh; min-height: 20vh;"
										:src="'data:image/png;base64,'+item.goods.img" alt="...">
									<img v-else style="max-height: 20vh; min-height: 20vh;"
										:src="item.goodsValue.column1" alt="...">
										
									<div class="caption text-center">
										<h4>{{item.goods.name}}</h4>
										<p style="color: #777070;">
											<span>{{item.goods.column2}}&nbsp;</span><span>{{item.goodsValue.name}}</span> <span>￥: {{item.goods.price}}</span>
										</p>
										<p v-if="item.goods.column1 == null" style="color: #777070;">
											<span>库存：</span> <span >0</span>
										</p>
										<p v-else-if="item.goods.column1 < item.goods.minsecurity" style="color: #777070;">
											<span>库存：</span> <span style="color: red;">{{item.goods.column1}}</span>
										</p>
										<p v-else-if="item.goods.column1 > item.goods.minsecurity" style="color: #777070;">
											<span>库存：</span> <span >{{item.goods.column1}}</span>
										</p>
										
										
										<p>
												<a :val="item.goodsValue.id" onclick="add(this)" class="btn btn-primary" role="button">确定</a>
											</p>
									</div>
								</div>
							</div>

							

						</div>

						<div id="page">
							<!-- <ul>
								<li class="pagebtn pagePrev"><span
									class="glyphicon glyphicon-menu-left"></span></li>
								<li class="pagebtn currentPage pageCurrent pageq">1</li>
								<li class="pagebtn pageCurrent pageq">2</li>
								<li class="pagebtn" id="pageDian"
									style="border: none; background: white; font-size: 20px;">...</li>
								<li class="pagebtn pageCurrent pageDi">13</li>
								<li class="pagebtn pageCurrent">14</li>
								<li class="pagebtn pageCurrent">15</li>
								<li class="pagebtn pageNext"><span
									class="glyphicon glyphicon-menu-right"></span></li>
							</ul> -->
						</div>

					</div>


				</div>
			</div>
		</div>
	</div>
	
	
	<script type="text/javascript"  th:inline="javascript">

var vue = new Vue({
	
	el:".main",
	data:{
		
		pageIf:"",
		idCountMap:""
		
	}
	
});


function add(th){
	var id=$(th).attr("val");
	var cc=$("#cc").val();
	var cv=$("#cv").val();
	var gc=$("#gc").val();
	$("#chooseGoods").attr("action","choseonegoodsvalue?gid="+id+"&cc="+cc+"&cv="+cv+"&gc="+gc);
	$("#chooseGoods").submit();
}


/**
 * 类型全选
 */
function typeAll(obj){
	
	activeSpanStyle(obj);
	var ind = $(obj).parent().parent().index();
	$(".option-top-div:gt("+ind+")").remove();
	$("#typeoption").html("");
	
	var tid = $(obj).attr("id");
	
	queryGoods(1,[],tid);
	
	
	
}

/*
*商品类型查询
*id 父级id
*/
function queryGoodsTypeByPid(obj,id,op){
	var bool =  activeSpanStyle(obj,op);
	
	if(!bool){
		
		return;
		
	}
	
	$.ajax({
		
		url:[[@{/goods/queryGoodsTypeByPid}]],
		dataType:"json",
		data:{"id":id},
		type:"post",
		success:function(data){
			
		 	var ind = $(obj).parent().parent().index();
			$(".option-top-div:gt("+ind+")").remove()
			
			if(data.length > 0){
					
				
				var div = $('<div class="option-div option-top-div row">');
				var divtitle = $('<div class="col-lg-1 col-md-1 text-right option-rongqi"><span class="visible-lg-inline-block visible-md-inline-block text-center option-span-title">类型</span></div>');
				div.append(divtitle);
				var divoption = $('<div class="col-lg-11 col-md-11 option-rongqi">');
				div.append(divoption);
				
				var activc = $('<span class="visible-lg-inline-block visible-md-inline-block visible-md-inline-block text-center activePosition option-span active1">');
				divoption.append(activc);
				
				var all = $('<span onclick="typeAll(this)"  class="visible-lg-inline-block visible-md-inline-block text-center option-span activeColor">全部</span>');
				divoption.append(all);
				
				$.each(data,function(){
					all.attr("id",this.pid);
					var option = $('<span onclick="queryGoodsTypeByPid(this,'+"'"+this.id+"'"+',false,)" class="visible-lg-inline-block visible-md-inline-block text-center option-span" id="'+this.id+'">'+this.name+'</span>');
					divoption.append(option);
					
				});
				
				$("#goodstype").append(div);
			}
			
		} 
		
	});
	 $.ajax({
		
		url:[[@{/goods/queryGoodsStandradByid}]],
		dataType:"json",
		data:{"id":id},
		type:"post",
		success:function(data){
		 	
			$("#typeoption").html("");	
			
				$.each(data,function(index,obj){
					
					var div = $('<div class="option-div option-type row">');
					$("#typeoption").append(div);
					
					var divtitle = $('<div class="col-lg-1 col-md-1 text-right option-rongqi"><span class="visible-lg-inline-block visible-md-inline-block text-center option-span-title">'+obj.name+'</span> </div>')
					div.append(divtitle);
					
					var divmain = $('<div class="col-lg-11 col-md-11 col-md-11 option-rongqi">');
					div.append(divmain);
					
					var spanall = $('<span onclick="typePojo(this)" class="visible-lg-inline-block visible-md-inline-block text-center option-span-all activeColor" style="background-color: #00AAFF;">不限</span>')
					divmain.append(spanall);
					$.each(obj.stabndardValueList,function(ind,item){
						
						var span = $('<span onclick="optionCheck(this)" class="visible-lg-inline-block visible-md-inline-block text-center option-span-z" sizeid="'+item.id+'">'+item.name+'</span>')
						divmain.append(span);
						
					})
					
				})
				
		}  
		
	}); 
	 
	 queryGoods(1,[],id);
	 
	
}

function typePojo(obj){
	
	optionAllStyle(obj);
	pojolike();
	
}


function optionCheck(obj){
	
	optionAddStyle(obj);
	
	pojolike();
	
	if ($(obj).parent().find(".active1").length == $(obj)
			.parent().find(".option-span-z").length) {

		$(obj).parent().find(".option-span-z").removeClass(
				"active1");
		$(obj).parent().find(".option-span-z").animate({
			backgroundColor : "",
			color : "#000000"
		}, 300);

		$(obj).parent().find(".option-span-all").addClass(
				"active1");
		$(obj).parent().find(".option-span-all").animate({
			backgroundColor : "#00AAFF",
			color : "#ffffff"
		}, 300);

	}

	
}



	function queryGoods(curPage,svid,tid){
		
		var liketext = $("#liketext").val();
		$.ajax({
			url:[[@{/goods/queryGoodsLikeAll}]],
			type:"post",
			data:{
				"curPage":curPage,
				"liketext":liketext,
				"svid":svid.join(','),
				"tid":tid
			},
			dataType:"json",
			success:function(data){
				
				vue.pageIf = data;
				
				$("#page").append(page(vue.pageIf.pageNum,vue.pageIf.prePage,vue.pageIf.nextPage,vue.pageIf.pages));
				
				 
				 $(document).on("click",".pageFy>ul li",function(){
					 var create = $(this).attr("pageNumber");
					 if(create != null && create != 0){
						 
						 queryGoods(create,[],0);
						 $("#page").append(page(vue.pageIf.pageNum,vue.pageIf.prePage,vue.pageIf.nextPage,vue.pageIf.pages));
							
					 }
				 });
				
			}
		});
		
	}
	
	//搜索框联动
	function textlike(obj){
		
		var tid = $("#goodstype .option-div:last").find(".activeColor").attr('id');
		
		var svid = 0;
		
		 queryGoods(1,[],tid);
		
	}
	
	
	//类型值联动
	function pojolike(){
		
		var svid = [];
		
		$("#typeoption .option-type").each(function(index,item){
		
			
			if($(item).find(".option-span-all").hasClass("active1")){
			
				$(item).find('span').each(function(){
					
				svid.push($(this).attr('sizeid'));
					
				});
				
				
			}else{
				
				$(item).find('.active1').each(function(){
					
					svid.push($(this).attr('sizeid'));
					
				});
				
				
			}
			
		});
		
		queryGoods(1,svid,0);
		
	}
	


	$(function() {
		
		queryGoodsTypeByPid(null,0,true);
		
		 queryGoods(1,[],0);
		 
		
		 
	});
</script>
	
	
</body>
</html>