<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>商品详情</title>
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
		<!-- VENDOR CSS -->
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<!-- MAIN CSS -->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}">
		<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
		<link rel="stylesheet" th:href="@{/assets/css/demo.css}">
		<!-- GOOGLE FONTS -->
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
		<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">

		<link rel="stylesheet" th:href="@{/assets/css/typeDonghua.css}" />

		<style>
			.list-group-item-hover:hover {
				background-color: #C4E3F3;
			}
			
			.inp {
				border: none;
				border-bottom: 1px solid #CCCCCC;
				display: none;
			}
			
			body {
				-webkit-user-select: none;
			}
			.update{
				position: absolute;z-index: 55;height: 100%;width: 100%;opacity: 0;top:0;
			}
			.uptatesp{
				position: absolute;z-index: 50;height: 100%;width: 100%;top:0;
			}
			.delimg {
				position: absolute;
				right: 2%;
				color: #d96767;
				top: -2%;
				cursor: pointer;
				display: none;
				z-index:999;
			}
		</style>

		<script type="text/javascript" th:src="@{/assets/js/jquery-1.8.2.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
		<script th:line>
			$(function() {

				
			});
			
			
		</script>
	</head>

	<body>
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline">
						<div class="panel-heading">
						</div>
			<div class="panel">
				<div class="panel-heading">
					<h3 style="padding-right: 20px;background-color:#00AAFF ;color: #FFFFFF;height: 6vh;line-height: 6vh;letter-spacing:2px;text-indent: 20px;border-radius: 5px;" class="panel-title">
						<span>商品详情</span>
						<a th:href="@{/goods/updateGoodsLoad(id=${gdv.id})}"><span class="AllUp upqian" style="float: right;cursor: pointer;">编辑</span></a>
						
					</h3>
				</div>
				<div class="panel-body">

					<div class="row">

						<ul class="list-group">
						
							<li th:if="${gdv.column1!=null&&gdv.column1!=''}"  class="list-group-item list-group-item-heading"  >
								<big>详情图片</big>
								<div class="row"  >
									<div style="text-align: center;" class="col-xs-6 col-md-2">
										<a href="#" class="thumbnail">
										<img id="goodsdetailimg"  th:src="${gdv.column1}" alt="..."> 
										</a>
									</div>
								</div>
							</li>
						
							<li class="list-group-item list-group-item-heading">
								<big>商品图片</big>
								<div class="row">
									<div  class="col-xs-6 col-md-2">
										<a href="#"  class="thumbnail">
											<img width="96%" id="goodstu" alt="...">
										</a>
									</div>
									<div class="col-xs-6 col-md-2" th:each="item,index:${gdv.goods.imgs}">
										<a href="#" class="thumbnail">
											<img th:src="${item.url}" alt="...">
										</a>
									</div>
								</div>
							</li>

							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>商品名称：</big><span th:text="${gdv.goods.name}"></span>
							</li>
							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>商品类型：</big><span th:text="${gdv.name}"></span>
							</li>
							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>初期库存：</big><span th:text="${gdv.count}"></span>
							</li>
							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>商品总库存：</big><span th:text="${gdv.counts}"></span>
							</li>
							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>进货价：￥</big><span th:text="${gdv.jprice}" class="text-span"></span>
							</li>
							 <li th:each="item2,index:${gdv.goodsPrices}" class="list-group-item list-group-item-heading list-group-item-hover">
								<big><span th:text="${item2.sufname}"></span>：￥</big><span th:text="${item2.price}" class="text-span"></span>
							</li> 

						</ul>

						</div>

					</div>

				</div>

				<div class="panel">

					<div id="fuwenben" class="panel-body">
						
					</div>

				</div>

			</div>
			</div>
			</div>
			</div>

	</body>

	<script  th:inline="javascript">
	
		var goods = [[${gdv.goods}]];
		
		$("#goodstu").attr("src","data:image/png;base64,"+goods.img);
	
		$("#fuwenben").html(goods.detail);
		
		
		
		
	</script>

</html>