<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>商品详情</title>
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
		<!-- VENDOR CSS -->
		<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/assets/css/style.css}">
		<!-- MAIN CSS -->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}">
		<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
		<link rel="stylesheet" th:href="@{/assets/css/demo.css}">
		<!-- GOOGLE FONTS -->
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}">
		<link rel="icon" type="image/png" sizes="96x96" th:href="@{/assets/img/favicon.png}">

		<link rel="stylesheet" th:href="@{/assets/css/typeDonghua.css}" />

		<style>
			.list-group-item-hover:hover {
				background-color: #C4E3F3;
			}
			
			.inp {
				border: none;
				border-bottom: 1px solid #CCCCCC;
				display: none;
			}
			
			body {
				-webkit-user-select: none;
			}
		</style>

		<script type="text/javascript" th:src="@{/assets/js/jquery-1.8.2.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
		<script>
			$(function() {

				$(".upNow").click(function() {

					$(".upqian").hide(200);
					$(".upAfert").show(200);
					$(".text-span").hide();
					$(".inp").show();

				});

				$(".upAfert").click(function() {

					$(".upqian").show(200);
					$(".upAfert").hide(200);
					$(".text-span").show();
					$(".inp").hide();

				});
				
/* 				$(".AllUp").click(function(){
					
					location = "/goods/updateGoodsLoad";
					
				}); */

			});
		</script>
	</head>

	<body>
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">报表 - 1</h3>
							<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
						</div>
			<div class="panel">
				<div class="panel-heading">
					<h3 style="padding-right: 20px;background-color:#00AAFF ;color: #FFFFFF;height: 6vh;line-height: 6vh;letter-spacing:2px;text-indent: 20px;border-radius: 5px;" class="panel-title">
						<span>商品详情</span>
						<a th:href="@{/goods/updateGoodsLoad}"><span class="AllUp upqian" style="float: right;cursor: pointer;">更多</span></a>
						<span class="upNow upqian" style="float: right;cursor: pointer;">编辑</span>
						
						<span class="upAfert upOk" style="float: right;cursor: pointer;display: none;">完成</span>
						<span class="upAfert upNo" style="float: right;cursor: pointer;display: none;">取消</span>
					</h3>
				</div>
				<div class="panel-body">

					<div class="row">

						<ul class="list-group">
						
							<li class="list-group-item list-group-item-heading">
								<big>详情图片</big>
								<div class="row">
									<div class="col-xs-6 col-md-2">
										<a href="#" class="thumbnail">
											<img  th:src="${gdv.goodsvalue.column1}" alt="...">
										</a>
									</div>
								</div>
							</li>
						
							<li class="list-group-item list-group-item-heading">
								<big>商品图片</big>
								<div class="row">
									<div  class="col-xs-6 col-md-2">
										<a href="#" class="thumbnail">
											<img  id="goodstu" alt="...">
										</a>
									</div>
									<div class="col-xs-6 col-md-2" th:each="item,index:${gdv.img}">
										<a href="#" class="thumbnail">
											<img th:src="${item.url}" alt="...">
										</a>
									</div>
								</div>
							</li>

							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>商品名称：</big><span th:text="${gdv.goods.name}"></span>
							</li>
							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>商品类型：</big><span th:text="${gdv.goodsvalue.name}"></span>
							</li>
							<li class="list-group-item list-group-item-heading list-group-item-hover">
								<big>进货价：￥</big><span th:text="${gdv.goodsvalue.jprice}" class="text-span"></span>
								<input class="inp" th:value="${gdv.goodsvalue.jprice}" />

							</li>
							 <li th:each="item2,index:${gdv.goodsprice}" class="list-group-item list-group-item-heading list-group-item-hover">
								<big><span th:text="${item2.sufname}"></span>：￥</big><span th:text="${item2.price}" class="text-span"></span>
								<input class="inp" th:value="${item2.price}" />
							</li> 

						</ul>

						</div>

					</div>

				</div>

				<div class="panel">

					<div id="fuwenben" class="panel-body">
						
					</div>

				</div>

			</div>
			</div>
			</div>
			</div>

	</body>

	<script  th:inline="javascript">
	
		var goods = [[${gdv.goods}]];
		
		$("#goodstu").attr("src","data:image/png;base64,"+goods.img);
	
		$("#fuwenben").html(goods.detail);
		
	</script>

</html>