<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>商品列表页面</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/main.css}">
<link rel="stylesheet" th:href="@{/assets/css/Animzte.css}" />
<link rel="stylesheet" th:href="@{/assets/css/typeDonghua.css}" />
<style>
.pagebtn {
	height: 28px;
	width: 25px;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	list-style: none;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
}

#page>ul {
	display: flex;
	justify-content: space-around;
	padding: 0px;
	font-size: 12px;
}

#page {
	width: 300px;
	margin: 20px auto;
}

.currentPage {
	background: #1094ce;
	color: white;
	border: none;
}
/*上面是分页*/
.option-span-z, .option-span {
	margin: 0 10px;
}
</style>
<script type="text/javascript"
	th:src="@{/assets/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.color.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/page.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/typeDonghua.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/vue.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>

</head>

<body>
	<div class="main">
		<div class="main-content">
			<div class="container-fluid">
				<div class="panel panel-headline">
					<div class="panel-heading">
						<h3 class="panel-title">报表 - 1</h3>
						<p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
					</div>

					<!--小屏幕-->
					<div class="row" style="margin: 2vh 3vh;">

						<div class="row">

							<div class="col-xs-11 col-lg-12 col-md-12">
								<div class="input-group">
									<label class="input-group-addon"
										style="color: #FFFFFF; background-color: #337ab7;">搜索:</label>
									<input type="text" class="form-control" placeholder="请输入关键字">

									<span class="input-group-btn lg-md-span">
										<button class="btn btn-primary" type="button">确 定</button>
									</span> <span class="input-group-btn lg-md-span">
										<button class="btn btn-primary" type="button">扫一扫</button>
									</span>
								</div>
							</div>

							<div class="col-xs-1">
								<div class="input-group">
									<span class="input-group-btn xs-span">
										<button class="btn btn-primary glyphicon glyphicon-list"></button>
									</span>
								</div>
							</div>

						</div>

					</div>

					<!--大，中屏幕的样式-->
					<div class="row visible-lg-block visible-md-block"
						style="margin: 0 3vh;">
						
							<div id="goodstype"></div>

							<div id="typeoption"></div>
						
					</div>

					<!--主体-->
					<div id="body"
						style="margin: 8vh 3vh 0 3vh; min-height: 60vh; background-color: #eae2e21f;">

						<div class="row">

							<div v-for="(item,index) in goodslist" class="col-sm-6 col-md-3	">
								<div class="thumbnail">
									<img style="max-height: 20vh; min-height: 20vh;"
										:src="'data:image/png;base64,'+item.goods.img" alt="...">
									<div class="caption text-center">
										<h4>{{item.goods.name}}</h4>
										<p style="color: #777070;">
											<span>{{item.goodsValue.name}}</span> <span>￥: {{item.goods.price}}</span>
										</p>
										<p style="color: #777070;">
											<span>库存：</span> <span style="color: red;">3</span>
										</p>
										<p>
											<a href="#" class="btn btn-danger" role="button">补货</a> <a
												th:href="@{/goods/queryGoodsDetail(id=2)}"
												class="btn btn-default" role="button">详情</a>
										</p>
									</div>
								</div>
							</div>

							

						</div>

						<div id="page">
							<ul>
								<li class="pagebtn pagePrev"><span
									class="glyphicon glyphicon-menu-left"></span></li>
								<li class="pagebtn currentPage pageCurrent pageq">1</li>
								<li class="pagebtn pageCurrent pageq">2</li>
								<li class="pagebtn pageCurrent pageq">3</li>
								<li class="pagebtn" id="pageDian"
									style="border: none; background: white; font-size: 20px;">...</li>
								<li class="pagebtn pageCurrent pageDi">14</li>
								<li class="pagebtn pageCurrent">15</li>
								<li class="pagebtn pageCurrent">16</li>
								<li class="pagebtn pageNext"><span
									class="glyphicon glyphicon-menu-right"></span></li>
							</ul>
						</div>

					</div>

					<button type="button" class="btn btn-primary btn-lg"
						data-toggle="modal" data-target="#myModal">Launch demo
						modal</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Modal title</h4>
								</div>
								<div class="modal-body">...</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save
										changes</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	
	<script type="text/javascript"  th:inline="javascript">

var vue = new Vue({
	
	el:".main",
	data:{
		
		goodslist:""
		
	}
	
});

/**
 * 类型全选
 */
function typeAll(obj){
	
	activeSpanStyle(obj);
	var ind = $(obj).parent().parent().index();
	$(".option-top-div:gt("+ind+")").remove();
	$("#typeoption").html("");
}

/*
*商品类型查询
*id 父级id
*/
function queryGoodsTypeByPid(obj,id,op){
	var bool =  activeSpanStyle(obj,op);
	
	if(!bool){
		
		return;
		
	}
	
	$.ajax({
		
		url:[[@{/goods/queryGoodsTypeByPid}]],
		dataType:"json",
		data:{"id":id},
		type:"post",
		success:function(data){
			
		 	var ind = $(obj).parent().parent().index();
			$(".option-top-div:gt("+ind+")").remove()
			
			if(data.length > 0){
					
				
				var div = $('<div class="option-div option-top-div row">');
				var divtitle = $('<div class="col-lg-1 col-md-1 text-right option-rongqi"><span class="visible-lg-inline-block visible-md-inline-block text-center option-span-title">类型</span></div>');
				div.append(divtitle);
				var divoption = $('<div class="col-lg-11 col-md-11 option-rongqi">');
				div.append(divoption);
				
				var activc = $('<span class="visible-lg-inline-block visible-md-inline-block visible-md-inline-block text-center activePosition option-span active1">');
				divoption.append(activc);
				
				var all = $('<span onclick="typeAll(this)" class="visible-lg-inline-block visible-md-inline-block text-center option-span activeColor">全部</span>');
				divoption.append(all);
				
				$.each(data,function(){
					
					var option = $('<span onclick="queryGoodsTypeByPid(this,'+this.id+',false)" class="visible-lg-inline-block visible-md-inline-block text-center option-span" typeid="'+this.id+'">'+this.name+'</span>');
					divoption.append(option);
					
				});
				
				$("#goodstype").append(div);
			}
			
		} 
		
	});
	 $.ajax({
		
		url:[[@{/goods/queryGoodsStandradByid}]],
		dataType:"json",
		data:{"id":id},
		type:"post",
		success:function(data){
		 	
			$("#typeoption").html("");	
			
				$.each(data,function(index,obj){
					
					var div = $('<div class="option-div option-type row">');
					$("#typeoption").append(div);
					
					var divtitle = $('<div class="col-lg-1 col-md-1 text-right option-rongqi"><span class="visible-lg-inline-block visible-md-inline-block text-center option-span-title">'+obj.name+'</span> </div>')
					div.append(divtitle);
					
					var divmain = $('<div class="col-lg-11 col-md-11 col-md-11 option-rongqi">');
					div.append(divmain);
					
					var spanall = $('<span onclick="optionAllStyle(this);" class="visible-lg-inline-block visible-md-inline-block text-center option-span-all activeColor" style="background-color: #00AAFF;">不限</span>')
					divmain.append(spanall);
					$.each(obj.stabndardValueList,function(ind,item){
						
						var span = $('<span onclick="optionCheck(this)" class="visible-lg-inline-block visible-md-inline-block text-center option-span-z" sizeid="'+item.id+'">'+item.name+'</span>')
						divmain.append(span);
						
					})
					
				})
				
		}  
		
	}); 
	
}


function optionCheck(obj){
	
	optionAddStyle(obj);
	if ($(obj).parent().find(".active1").length == $(obj)
			.parent().find(".option-span-z").length) {

		$(obj).parent().find(".option-span-z").removeClass(
				"active1");
		$(obj).parent().find(".option-span-z").animate({
			backgroundColor : "",
			color : "#000000"
		}, 300);

		$(obj).parent().find(".option-span-all").addClass(
				"active1");
		$(obj).parent().find(".option-span-all").animate({
			backgroundColor : "#00AAFF",
			color : "#ffffff"
		}, 300);

	}

	
}



	function queryGoods(){
		
		$.ajax({
			url:[[@{/goods/queryGoodsLikeAll}]],
			type:"post",
			dataType:"json",
			success:function(data){
				
				vue.goodslist = data;
				
			}
		});
		
	}


	$(function() {
		queryGoodsTypeByPid(null,0,true);
		 queryGoods();
	});
</script>
	
	
</body>

</html>